.. _codicefiscale_userguide:

Codice Fiscale Strings
============

Introduction
------------

The function :func:`clean_it_codicefiscale() <dataprep.clean.clean_it_codicefiscale.clean_it_codicefiscale>` cleans a column containing Italian fiscal codes (Codice Fiscale) strings, and standardizes them in a given format. The function :func:`validate_it_codicefiscale() <dataprep.clean.clean_it_codicefiscale.validate_it_codicefiscale>` validates either a single Codice Fiscale strings, a column of Codice Fiscale strings or a DataFrame of Codice Fiscale strings, returning `True` if the value is valid, and `False` otherwise.

Codice Fiscale strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "RCCMNL83S18D969H"
* `standard`: Codice Fiscale strings with proper whitespace in the proper places. Note that in the case of Codice Fiscale, the compact format is the same as the standard one.
* `birthdate`: split the date parts from the number and return the birth date, like "1875-03-16".
* `gender`: get the person's birth gender ('M' or 'F').

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_it_codicefiscale()` and `validate_it_codicefiscale()`.

### An example dataset containing Codice Fiscale strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "codicefiscale": [
            'RCCMNL83S18D969H',
            'RCCMNL83S18D969',
            '7542011030',
            '7552A10004',
            '8019010008',
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

      codicefiscale                                           address
0  RCCMNL83S18D969H                                     123 Pine Ave.
1   RCCMNL83S18D969                                           main st
2        7542011030                      1234 west main heights 57033
3        7552A10004                    apt 1 789 s maple rd manhattan
4        8019010008                robie house, 789 north main street
5             hello         1111 S Figueroa St, Los Angeles, CA 90015
6               NaN  (staples center) 1111 S Figueroa St, Los Angeles
7              NULL                                             hello

## 1. Default `clean_it_codicefiscale`

By default, `clean_it_codicefiscale` will clean codicefiscale strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_it_codicefiscale
clean_it_codicefiscale(df, column = "codicefiscale")

,codicefiscale,address,codicefiscale_clean
0,RCCMNL83S18D969H,123 Pine Ave.,RCCMNL83S18D969H
1,RCCMNL83S18D969,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_it_codicefiscale(df, column = "codicefiscale", output_format="standard")

,codicefiscale,address,codicefiscale_clean
0,RCCMNL83S18D969H,123 Pine Ave.,RCCMNL83S18D969H
1,RCCMNL83S18D969,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `compact`

In [4]:
clean_it_codicefiscale(df, column = "codicefiscale", output_format="compact")

,codicefiscale,address,codicefiscale_clean
0,RCCMNL83S18D969H,123 Pine Ave.,RCCMNL83S18D969H
1,RCCMNL83S18D969,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `birthdate`

In [5]:
clean_it_codicefiscale(df, column = "codicefiscale", output_format="birthdate")

,codicefiscale,address,codicefiscale_clean
0,RCCMNL83S18D969H,123 Pine Ave.,1983-11-18
1,RCCMNL83S18D969,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `gender`

In [6]:
clean_it_codicefiscale(df, column = "codicefiscale", output_format="gender")

,codicefiscale,address,codicefiscale_clean
0,RCCMNL83S18D969H,123 Pine Ave.,M
1,RCCMNL83S18D969,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned Codice Fiscale strings is added with a title in the format `"{original title}_clean"`.

In [7]:
clean_it_codicefiscale(df, column="codicefiscale", inplace=True)

  codicefiscale_clean                                           address
0    RCCMNL83S18D969H                                     123 Pine Ave.
1                 NaN                                           main st
2                 NaN                      1234 west main heights 57033
3                 NaN                    apt 1 789 s maple rd manhattan
4                 NaN                robie house, 789 north main street
5                 NaN         1111 S Figueroa St, Los Angeles, CA 90015
6                 NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                 NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [8]:
clean_it_codicefiscale(df, "codicefiscale", errors="coerce")

,codicefiscale,address,codicefiscale_clean
0,RCCMNL83S18D969H,123 Pine Ave.,RCCMNL83S18D969H
1,RCCMNL83S18D969,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `ignore`

In [9]:
clean_it_codicefiscale(df, "codicefiscale", errors="ignore")

,codicefiscale,address,codicefiscale_clean
0,RCCMNL83S18D969H,123 Pine Ave.,RCCMNL83S18D969H
1,RCCMNL83S18D969,main st,RCCMNL83S18D969
2,7542011030,1234 west main heights 57033,7542011030
3,7552A10004,apt 1 789 s maple rd manhattan,7552A10004
4,8019010008,"robie house, 789 north main street",8019010008
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_it_codicefiscale()`

`validate_it_codicefiscale()` returns `True` when the input is a valid Codice Fiscale. Otherwise it returns `False`.

The input of `validate_it_codicefiscale()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_it_codicefiscale()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_it_codicefiscale()` returns the validation result for the whole DataFrame.

In [10]:
from dataprep.clean import validate_it_codicefiscale
print(validate_it_codicefiscale('RCCMNL83S18D969H'))
print(validate_it_codicefiscale('RCCMNL83S18D969'))
print(validate_it_codicefiscale('7542011030'))
print(validate_it_codicefiscale('7552A10004'))
print(validate_it_codicefiscale('8019010008'))
print(validate_it_codicefiscale("hello"))
print(validate_it_codicefiscale(np.nan))
print(validate_it_codicefiscale("NULL"))

True
False
False
False
False
False
False
False

### Series

In [11]:
validate_it_codicefiscale(df["codicefiscale"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: codicefiscale, dtype: bool

### DataFrame + Specify Column

In [12]:
validate_it_codicefiscale(df, column="codicefiscale")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: codicefiscale, dtype: bool

### Only DataFrame

In [13]:
validate_it_codicefiscale(df)

   codicefiscale  address
0           True    False
1          False    False
2          False    False
3          False    False
4          False    False
5          False    False
6          False    False
7          False    False