.. _unp_userguide:

Belarusian UNP Numbers
======================

Introduction
------------

The function :func:`clean_by_unp() <dataprep.clean.clean_by_unp.clean_by_unp>` cleans a column containing Belarusian UNP numbers (UNP) strings, and standardizes them in a given format. The function :func:`validate_by_unp() <dataprep.clean.clean_by_unp.validate_by_unp>` validates either a single UNP strings, a column of UNP strings or a DataFrame of UNP strings, returning `True` if the value is valid, and `False` otherwise.

UNP strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "MA1953684"
* `standard`: UNP strings with proper whitespace in the proper places. Note that in the case of UNP, the compact format is the same as the standard one.

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_by_unp()` and `validate_by_unp()`.

### An example dataset containing UNP strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "unp": [
            '200988541',
            'УНП MA1953684',
            '200988542',
            'BE431150351',
            "002 724 334",
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

             unp                                           address
0      200988541                                     123 Pine Ave.
1  УНП MA1953684                                           main st
2      200988542                      1234 west main heights 57033
3    BE431150351                    apt 1 789 s maple rd manhattan
4    002 724 334                robie house, 789 north main street
5          hello         1111 S Figueroa St, Los Angeles, CA 90015
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles
7           NULL                                             hello

## 1. Default `clean_by_unp`

By default, `clean_by_unp` will clean unp strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_by_unp
clean_by_unp(df, column = "unp")

             unp                                           address  unp_clean
0      200988541                                     123 Pine Ave.  200988541
1  УНП MA1953684                                           main st  MA1953684
2      200988542                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_by_unp(df, column = "unp", output_format="standard")

             unp                                           address  unp_clean
0      200988541                                     123 Pine Ave.  200988541
1  УНП MA1953684                                           main st  MA1953684
2      200988542                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

### `compact`

In [4]:
clean_by_unp(df, column = "unp", output_format="compact")

             unp                                           address  unp_clean
0      200988541                                     123 Pine Ave.  200988541
1  УНП MA1953684                                           main st  MA1953684
2      200988542                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned UNP strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_by_unp(df, column="unp", inplace=True)

   unp_clean                                           address
0  200988541                                     123 Pine Ave.
1  MA1953684                                           main st
2        NaN                      1234 west main heights 57033
3        NaN                    apt 1 789 s maple rd manhattan
4        NaN                robie house, 789 north main street
5        NaN         1111 S Figueroa St, Los Angeles, CA 90015
6        NaN  (staples center) 1111 S Figueroa St, Los Angeles
7        NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_by_unp(df, "unp", errors="coerce")

             unp                                           address  unp_clean
0      200988541                                     123 Pine Ave.  200988541
1  УНП MA1953684                                           main st  MA1953684
2      200988542                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

### `ignore`

In [7]:
clean_by_unp(df, "unp", errors="ignore")

,unp,address,unp_clean
0,200988541,123 Pine Ave.,200988541
1,УНП MA1953684,main st,MA1953684
2,200988542,1234 west main heights 57033,200988542
3,BE431150351,apt 1 789 s maple rd manhattan,BE431150351
4,002 724 334,"robie house, 789 north main street",002 724 334
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_by_unp()`

`validate_by_unp()` returns `True` when the input is a valid UNP. Otherwise it returns `False`.

The input of `validate_by_unp()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_by_unp()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_by_unp()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_by_unp
print(validate_by_unp('200988541'))
print(validate_by_unp('УНП MA1953684'))
print(validate_by_unp('200988542'))
print(validate_by_unp('BE431150351'))
print(validate_by_unp("004085616"))
print(validate_by_unp("hello"))
print(validate_by_unp(np.nan))
print(validate_by_unp("NULL"))

True
True
False
False
False
False
False
False

### Series

In [9]:
validate_by_unp(df["unp"])

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: unp, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_by_unp(df, column="unp")

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: unp, dtype: bool

### Only DataFrame

In [11]:
validate_by_unp(df)

     unp  address
0   True    False
1   True    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False