.. _cpf_userguide:

CPF Strings
============

Introduction
------------

The function :func:`clean_cr_cpf() <dataprep.clean.clean_cr_cpf.clean_cr_cpf>` cleans a column containing Costa Rica physical person ID number (CPF) strings, and standardizes them in a given format. The function :func:`validate_cr_cpf() <dataprep.clean.clean_cr_cpf.validate_cr_cpf>` validates either a single CPF strings, a column of CPF strings or a DataFrame of CPF strings, returning `True` if the value is valid, and `False` otherwise.

CPF strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "0106130584"
* `standard`: CPF strings with proper whitespace in the proper places, like "01-0613-0584"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_cr_cpf()` and `validate_cr_cpf()`.

### An example dataset containing CPF strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "cpf": [
            "1-613-584",
            "30-1234-1234",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              cpf                                           address
0       1-613-584                                     123 Pine Ave.
1    30-1234-1234                                           main st
2     51824753556                      1234 west main heights 57033
3  51 824 753 556                    apt 1 789 s maple rd manhattan
4           hello                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NULL                                             hello

## 1. Default `clean_cr_cpf`

By default, `clean_cr_cpf` will clean cpf strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_cr_cpf
clean_cr_cpf(df, column = "cpf")

,cpf,address,cpf_clean
0,1-613-584,123 Pine Ave.,01-0613-0584
1,30-1234-1234,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_cr_cpf(df, column = "cpf", output_format="standard")

,cpf,address,cpf_clean
0,1-613-584,123 Pine Ave.,01-0613-0584
1,30-1234-1234,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_cr_cpf(df, column = "cpf", output_format="compact")

,cpf,address,cpf_clean
0,1-613-584,123 Pine Ave.,0106130584
1,30-1234-1234,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned CPF strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_cr_cpf(df, column="cpf", inplace=True)

      cpf_clean                                           address
0  01-0613-0584                                     123 Pine Ave.
1           NaN                                           main st
2           NaN                      1234 west main heights 57033
3           NaN                    apt 1 789 s maple rd manhattan
4           NaN                robie house, 789 north main street
5           NaN  (staples center) 1111 S Figueroa St, Los Angeles
6           NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_cr_cpf(df, "cpf", errors="coerce")

,cpf,address,cpf_clean
0,1-613-584,123 Pine Ave.,01-0613-0584
1,30-1234-1234,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_cr_cpf(df, "cpf", errors="ignore")

,cpf,address,cpf_clean
0,1-613-584,123 Pine Ave.,01-0613-0584
1,30-1234-1234,main st,30-1234-1234
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_cr_cpf()`

`validate_cr_cpf()` returns `True` when the input is a valid CPF. Otherwise it returns `False`.

The input of `validate_cr_cpf()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_cr_cpf()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_cr_cpf()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_cr_cpf
print(validate_cr_cpf("1-613-584"))
print(validate_cr_cpf("30-1234-1234"))
print(validate_cr_cpf("51824753556"))
print(validate_cr_cpf("51 824 753 556"))
print(validate_cr_cpf("hello"))
print(validate_cr_cpf(np.nan))
print(validate_cr_cpf("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_cr_cpf(df["cpf"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cpf, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_cr_cpf(df, column="cpf")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cpf, dtype: bool

### Only DataFrame

In [11]:
validate_cr_cpf(df)

     cpf  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False