.. _pvm_userguide:

Lithuanian PVM Numbers
======================

Introduction
------------

The function :func:`clean_lt_pvm() <dataprep.clean.clean_lt_pvm.clean_lt_pvm>` cleans a column containing Lithuanian PVM number (PVM) strings, and standardizes them in a given format. The function :func:`validate_lt_pvm() <dataprep.clean.clean_lt_pvm.validate_lt_pvm>` validates either a single PVM strings, a column of PVM strings or a DataFrame of PVM strings, returning `True` if the value is valid, and `False` otherwise.

PVM strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "119511515"
* `standard`: PVM strings with proper whitespace in the proper places. Note that in the case of PVM, the compact format is the same as the standard one.

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_lt_pvm()` and `validate_lt_pvm()`.

### An example dataset containing PVM strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "pvm": [
            '119511515',
            '100001919018',
            'BE 428759497',
            'BE431150351',
            "002 724 334",
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

            pvm                                           address
0     119511515                                     123 Pine Ave.
1  100001919018                                           main st
2  BE 428759497                      1234 west main heights 57033
3   BE431150351                    apt 1 789 s maple rd manhattan
4   002 724 334                robie house, 789 north main street
5         hello         1111 S Figueroa St, Los Angeles, CA 90015
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NULL                                             hello

## 1. Default `clean_lt_pvm`

By default, `clean_lt_pvm` will clean pvm strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_lt_pvm
clean_lt_pvm(df, column = "pvm")

            pvm                                           address  pvm_clean
0     119511515                                     123 Pine Ave.  119511515
1  100001919018                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_lt_pvm(df, column = "pvm", output_format="standard")

            pvm                                           address  pvm_clean
0     119511515                                     123 Pine Ave.  119511515
1  100001919018                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `compact`

In [4]:
clean_lt_pvm(df, column = "pvm", output_format="compact")

            pvm                                           address  pvm_clean
0     119511515                                     123 Pine Ave.  119511515
1  100001919018                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned PVM strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_lt_pvm(df, column="pvm", inplace=True)

   pvm_clean                                           address
0  119511515                                     123 Pine Ave.
1        NaN                                           main st
2        NaN                      1234 west main heights 57033
3        NaN                    apt 1 789 s maple rd manhattan
4        NaN                robie house, 789 north main street
5        NaN         1111 S Figueroa St, Los Angeles, CA 90015
6        NaN  (staples center) 1111 S Figueroa St, Los Angeles
7        NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_lt_pvm(df, "pvm", errors="coerce")

            pvm                                           address  pvm_clean
0     119511515                                     123 Pine Ave.  119511515
1  100001919018                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `ignore`

In [7]:
clean_lt_pvm(df, "pvm", errors="ignore")

,pvm,address,pvm_clean
0,119511515,123 Pine Ave.,119511515
1,100001919018,main st,100001919018
2,BE 428759497,1234 west main heights 57033,BE 428759497
3,BE431150351,apt 1 789 s maple rd manhattan,BE431150351
4,002 724 334,"robie house, 789 north main street",002 724 334
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_lt_pvm()`

`validate_lt_pvm()` returns `True` when the input is a valid PVM. Otherwise it returns `False`.

The input of `validate_lt_pvm()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_lt_pvm()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_lt_pvm()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_lt_pvm
print(validate_lt_pvm("119511515"))
print(validate_lt_pvm("100001919018"))
print(validate_lt_pvm('BE 428759497'))
print(validate_lt_pvm('BE431150351'))
print(validate_lt_pvm("004085616"))
print(validate_lt_pvm("hello"))
print(validate_lt_pvm(np.nan))
print(validate_lt_pvm("NULL"))

True
False
False
False
False
False
False
False

### Series

In [9]:
validate_lt_pvm(df["pvm"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: pvm, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_lt_pvm(df, column="pvm")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: pvm, dtype: bool

### Only DataFrame

In [11]:
validate_lt_pvm(df)

     pvm  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False