.. _cpf_userguide:

cpf Strings
============

Introduction
------------

The function :func:`clean_br_cpf() <dataprep.clean.clean_br_cpf.clean_br_cpf>` cleans a column containing Brazilian national identifier (CPF) strings, and standardizes them in a given format. The function :func:`validate_br_cpf() <dataprep.clean.clean_br_cpf.validate_br_cpf>` validates either a single cpf strings, a column of CPF strings or a DataFrame of CPF strings, returning `True` if the value is valid, and `False` otherwise.

CPF strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "39053344705"
* `standard`: cpf strings with proper whitespace in the proper places, like "390.533.447-05"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_br_cpf()` and `validate_br_cpf()`.

### An example dataset containing cpf strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "cpf": [
            '390.533.447-05',
            '231.002.999-00',
            '390.533.447=0',
            '23100299900',
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              cpf                                           address
0  390.533.447-05                                     123 Pine Ave.
1  231.002.999-00                                           main st
2   390.533.447=0                      1234 west main heights 57033
3     23100299900                    apt 1 789 s maple rd manhattan
4           hello                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NULL                                             hello

## 1. Default `clean_br_cpf`

By default, `clean_br_cpf` will clean cpf strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_br_cpf
clean_br_cpf(df, column = "cpf")

,cpf,address,cpf_clean
0,390.533.447-05,123 Pine Ave.,390.533.447-05
1,231.002.999-00,main st,NaN
2,390.533.447=0,1234 west main heights 57033,NaN
3,23100299900,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_br_cpf(df, column = "cpf", output_format="standard")

,cpf,address,cpf_clean
0,390.533.447-05,123 Pine Ave.,390.533.447-05
1,231.002.999-00,main st,NaN
2,390.533.447=0,1234 west main heights 57033,NaN
3,23100299900,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_br_cpf(df, column = "cpf", output_format="compact")

,cpf,address,cpf_clean
0,390.533.447-05,123 Pine Ave.,39053344705
1,231.002.999-00,main st,NaN
2,390.533.447=0,1234 west main heights 57033,NaN
3,23100299900,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned CPF strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_br_cpf(df, column="cpf", inplace=True)

        cpf_clean                                           address
0  390.533.447-05                                     123 Pine Ave.
1             NaN                                           main st
2             NaN                      1234 west main heights 57033
3             NaN                    apt 1 789 s maple rd manhattan
4             NaN                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6             NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_br_cpf(df, "cpf", errors="coerce")

,cpf,address,cpf_clean
0,390.533.447-05,123 Pine Ave.,390.533.447-05
1,231.002.999-00,main st,NaN
2,390.533.447=0,1234 west main heights 57033,NaN
3,23100299900,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_br_cpf(df, "cpf", errors="ignore")

,cpf,address,cpf_clean
0,390.533.447-05,123 Pine Ave.,390.533.447-05
1,231.002.999-00,main st,231.002.999-00
2,390.533.447=0,1234 west main heights 57033,390.533.447=0
3,23100299900,apt 1 789 s maple rd manhattan,23100299900
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_br_cpf()`

`validate_br_cpf()` returns `True` when the input is a valid CPF. Otherwise it returns `False`.

The input of `validate_br_cpf()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_br_cpf()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_br_cpf()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_br_cpf
print(validate_br_cpf('390.533.447-05'))
print(validate_br_cpf('231.002.999-00'))
print(validate_br_cpf('390.533.447=0'))
print(validate_br_cpf('23100299900'))
print(validate_br_cpf("hello"))
print(validate_br_cpf(np.nan))
print(validate_br_cpf("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_br_cpf(df["cpf"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cpf, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_br_cpf(df, column="cpf")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cpf, dtype: bool

### Only DataFrame

In [11]:
validate_br_cpf(df)

     cpf  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False