.. _npwp_userguide:

Indonesian VAT Numbers
======================

Introduction
------------

The function :func:`clean_id_npwp() <dataprep.clean.clean_id_npwp.clean_id_npwp>` cleans a column containing Indonesian VAT Number (NPWP) strings, and standardizes them in a given format. The function :func:`validate_id_npwp() <dataprep.clean.clean_id_npwp.validate_id_npwp>` validates either a single NPWP strings, a column of NPWP strings or a DataFrame of NPWP strings, returning `True` if the value is valid, and `False` otherwise.

NPWP strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "013000666091000"
* `standard`: NPWP strings with proper whitespace in the proper places, like "01.300.066.6-091.000"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_id_npwp()` and `validate_id_npwp()`.

### An example dataset containing NPWP strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "npwp": [
            "013000666091000",
            "123456789",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              npwp                                           address
0  013000666091000                                     123 Pine Ave.
1        123456789                                           main st
2      51824753556                      1234 west main heights 57033
3   51 824 753 556                    apt 1 789 s maple rd manhattan
4            hello                robie house, 789 north main street
5              NaN  (staples center) 1111 S Figueroa St, Los Angeles
6             NULL                                             hello

## 1. Default `clean_id_npwp`

By default, `clean_id_npwp` will clean npwp strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_id_npwp
clean_id_npwp(df, column = "npwp")

,npwp,address,npwp_clean
0,013000666091000,123 Pine Ave.,01.300.066.6-091.000
1,123456789,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_id_npwp(df, column = "npwp", output_format="standard")

,npwp,address,npwp_clean
0,013000666091000,123 Pine Ave.,01.300.066.6-091.000
1,123456789,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_id_npwp(df, column = "npwp", output_format="compact")

,npwp,address,npwp_clean
0,013000666091000,123 Pine Ave.,013000666091000
1,123456789,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned NPWP strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_id_npwp(df, column="npwp", inplace=True)

             npwp_clean                                           address
0  01.300.066.6-091.000                                     123 Pine Ave.
1                   NaN                                           main st
2                   NaN                      1234 west main heights 57033
3                   NaN                    apt 1 789 s maple rd manhattan
4                   NaN                robie house, 789 north main street
5                   NaN  (staples center) 1111 S Figueroa St, Los Angeles
6                   NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_id_npwp(df, "npwp", errors="coerce")

,npwp,address,npwp_clean
0,013000666091000,123 Pine Ave.,01.300.066.6-091.000
1,123456789,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_id_npwp(df, "npwp", errors="ignore")

,npwp,address,npwp_clean
0,013000666091000,123 Pine Ave.,01.300.066.6-091.000
1,123456789,main st,123456789
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_id_npwp()`

`validate_id_npwp()` returns `True` when the input is a valid NPWP. Otherwise it returns `False`.

The input of `validate_id_npwp()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_id_npwp()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_id_npwp()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_id_npwp
print(validate_id_npwp("013000666091000"))
print(validate_id_npwp("123456789"))
print(validate_id_npwp("51824753556"))
print(validate_id_npwp("51 824 753 556"))
print(validate_id_npwp("hello"))
print(validate_id_npwp(np.nan))
print(validate_id_npwp("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_id_npwp(df["npwp"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: npwp, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_id_npwp(df, column="npwp")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: npwp, dtype: bool

### Only DataFrame

In [11]:
validate_id_npwp(df)

    npwp  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False