.. _rnc_userguide:

RNC Strings
============

Introduction
------------

The function :func:`clean_do_rnc() <dataprep.clean.clean_do_rnc.clean_do_rnc>` cleans a column containing Dominican Republic tax registration (RNC) strings, and standardizes them in a given format. The function :func:`validate_do_rnc() <dataprep.clean.clean_do_rnc.validate_do_rnc>` validates either a single RNC strings, a column of RNC strings or a DataFrame of RNC strings, returning `True` if the value is valid, and `False` otherwise.

RNC strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "131246796"
* `standard`: RNC strings with proper whitespace in the proper places, like "1-31-24679-6"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_do_rnc()` and `validate_do_rnc()`.

### An example dataset containing RNC strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "rnc": [
            "131246796",
            "1018A0043",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              rnc                                           address
0       131246796                                     123 Pine Ave.
1       1018A0043                                           main st
2     51824753556                      1234 west main heights 57033
3  51 824 753 556                    apt 1 789 s maple rd manhattan
4           hello                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NULL                                             hello

## 1. Default `clean_do_rnc`

By default, `clean_do_rnc` will clean rnc strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_do_rnc
clean_do_rnc(df, column = "rnc")

,rnc,address,rnc_clean
0,131246796,123 Pine Ave.,1-31-24679-6
1,1018A0043,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_do_rnc(df, column = "rnc", output_format="standard")

,rnc,address,rnc_clean
0,131246796,123 Pine Ave.,1-31-24679-6
1,1018A0043,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_do_rnc(df, column = "rnc", output_format="compact")

              rnc                                           address  rnc_clean
0       131246796                                     123 Pine Ave.  131246796
1       1018A0043                                           main st        NaN
2     51824753556                      1234 west main heights 57033        NaN
3  51 824 753 556                    apt 1 789 s maple rd manhattan        NaN
4           hello                robie house, 789 north main street        NaN
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
6            NULL                                             hello        NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned RNC strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_do_rnc(df, column="rnc", inplace=True)

      rnc_clean                                           address
0  1-31-24679-6                                     123 Pine Ave.
1           NaN                                           main st
2           NaN                      1234 west main heights 57033
3           NaN                    apt 1 789 s maple rd manhattan
4           NaN                robie house, 789 north main street
5           NaN  (staples center) 1111 S Figueroa St, Los Angeles
6           NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_do_rnc(df, "rnc", errors="coerce")

,rnc,address,rnc_clean
0,131246796,123 Pine Ave.,1-31-24679-6
1,1018A0043,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_do_rnc(df, "rnc", errors="ignore")

,rnc,address,rnc_clean
0,131246796,123 Pine Ave.,1-31-24679-6
1,1018A0043,main st,1018A0043
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_do_rnc()`

`validate_do_rnc()` returns `True` when the input is a valid RNC. Otherwise it returns `False`.

The input of `validate_do_rnc()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_do_rnc()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_do_rnc()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_do_rnc
print(validate_do_rnc("131246796"))
print(validate_do_rnc("1018A0043"))
print(validate_do_rnc("51824753556"))
print(validate_do_rnc("51 824 753 556"))
print(validate_do_rnc("hello"))
print(validate_do_rnc(np.nan))
print(validate_do_rnc("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_do_rnc(df["rnc"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: rnc, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_do_rnc(df, column="rnc")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: rnc, dtype: bool

### Only DataFrame

In [11]:
validate_do_rnc(df)

     rnc  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False