.. _curp_userguide:

CURP Strings
============

Introduction
------------

The function :func:`clean_mx_curp() <dataprep.clean.clean_mx_curp.clean_mx_curp>` cleans a column containing Mexican personal identifier (CURP) strings, and standardizes them in a given format. The function :func:`validate_mx_curp() <dataprep.clean.clean_mx_curp.validate_mx_curp>` validates either a single CURP strings, a column of CURP strings or a DataFrame of CURP strings, returning `True` if the value is valid, and `False` otherwise.

CURP strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "BOXW310820HNERXN09"
* `standard`: CURP strings with proper whitespace in the proper places. Note that in the case of CURP, the compact format is the same as the standard one.
* `birthdate`: split the date parts from the number and return the birth date, like "1875-03-16".
* `gender`: get the person's birth gender ('M' or 'F').

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_mx_curp()` and `validate_mx_curp()`.

### An example dataset containing CURP strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "curp": [
            'BOXW310820HNERXN09',
            'BOXW310820HNERXN08',
            '7542011030',
            '7552A10004',
            '8019010008',
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

                 curp                                           address
0  BOXW310820HNERXN09                                     123 Pine Ave.
1  BOXW310820HNERXN08                                           main st
2          7542011030                      1234 west main heights 57033
3          7552A10004                    apt 1 789 s maple rd manhattan
4          8019010008                robie house, 789 north main street
5               hello         1111 S Figueroa St, Los Angeles, CA 90015
6                 NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                NULL                                             hello

## 1. Default `clean_mx_curp`

By default, `clean_mx_curp` will clean curp strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_mx_curp
clean_mx_curp(df, column = "curp")

,curp,address,curp_clean
0,BOXW310820HNERXN09,123 Pine Ave.,BOXW310820HNERXN09
1,BOXW310820HNERXN08,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_mx_curp(df, column = "curp", output_format="standard")

,curp,address,curp_clean
0,BOXW310820HNERXN09,123 Pine Ave.,BOXW310820HNERXN09
1,BOXW310820HNERXN08,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `compact`

In [4]:
clean_mx_curp(df, column = "curp", output_format="compact")

,curp,address,curp_clean
0,BOXW310820HNERXN09,123 Pine Ave.,BOXW310820HNERXN09
1,BOXW310820HNERXN08,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `birthdate`

In [5]:
clean_mx_curp(df, column = "curp", output_format="birthdate")

,curp,address,curp_clean
0,BOXW310820HNERXN09,123 Pine Ave.,1931-08-20
1,BOXW310820HNERXN08,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `gender`

In [6]:
clean_mx_curp(df, column = "curp", output_format="gender")

,curp,address,curp_clean
0,BOXW310820HNERXN09,123 Pine Ave.,M
1,BOXW310820HNERXN08,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned CURP strings is added with a title in the format `"{original title}_clean"`.

In [7]:
clean_mx_curp(df, column="curp", inplace=True)

           curp_clean                                           address
0  BOXW310820HNERXN09                                     123 Pine Ave.
1                 NaN                                           main st
2                 NaN                      1234 west main heights 57033
3                 NaN                    apt 1 789 s maple rd manhattan
4                 NaN                robie house, 789 north main street
5                 NaN         1111 S Figueroa St, Los Angeles, CA 90015
6                 NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                 NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [8]:
clean_mx_curp(df, "curp", errors="coerce")

,curp,address,curp_clean
0,BOXW310820HNERXN09,123 Pine Ave.,BOXW310820HNERXN09
1,BOXW310820HNERXN08,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `ignore`

In [9]:
clean_mx_curp(df, "curp", errors="ignore")

,curp,address,curp_clean
0,BOXW310820HNERXN09,123 Pine Ave.,BOXW310820HNERXN09
1,BOXW310820HNERXN08,main st,BOXW310820HNERXN08
2,7542011030,1234 west main heights 57033,7542011030
3,7552A10004,apt 1 789 s maple rd manhattan,7552A10004
4,8019010008,"robie house, 789 north main street",8019010008
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_mx_curp()`

`validate_mx_curp()` returns `True` when the input is a valid CURP. Otherwise it returns `False`.

The input of `validate_mx_curp()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_mx_curp()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_mx_curp()` returns the validation result for the whole DataFrame.

In [10]:
from dataprep.clean import validate_mx_curp
print(validate_mx_curp('BOXW310820HNERXN09'))
print(validate_mx_curp('BOXW310820HNERXN08'))
print(validate_mx_curp('7542011030'))
print(validate_mx_curp('7552A10004'))
print(validate_mx_curp('8019010008'))
print(validate_mx_curp("hello"))
print(validate_mx_curp(np.nan))
print(validate_mx_curp("NULL"))

True
False
False
False
False
False
False
False

### Series

In [11]:
validate_mx_curp(df["curp"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: curp, dtype: bool

### DataFrame + Specify Column

In [12]:
validate_mx_curp(df, column="curp")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: curp, dtype: bool

### Only DataFrame

In [13]:
validate_mx_curp(df)

    curp  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False