.. _egn_userguide:

Bulgarian National Identification Numbers
=========================================

Introduction
------------

The function :func:`clean_bg_egn() <dataprep.clean.clean_bg_egn.clean_bg_egn>` cleans a column containing Bulgarian national identification numbers (EGN) strings, and standardizes them in a given format. The function :func:`validate_bg_egn() <dataprep.clean.clean_bg_egn.validate_bg_egn>` validates either a single EGN strings, a column of EGN strings or a DataFrame of EGN strings, returning `True` if the value is valid, and `False` otherwise.

EGN strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "7523169263"
* `standard`: EGN strings with proper whitespace in the proper places. Note that in the case of EGN, the compact format is the same as the standard one.
* `birthdate`: split the date parts from the number and return the birth date, like "1875-03-16".

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_bg_egn()` and `validate_bg_egn()`.

### An example dataset containing EGN strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "egn": [
            '752316 926 3',
            '8032056031',
            '7542011030',
            '7552A10004',  # invalid digit
            '8019010008',  # invalid date
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

            egn                                           address
0  752316 926 3                                     123 Pine Ave.
1    8032056031                                           main st
2    7542011030                      1234 west main heights 57033
3    7552A10004                    apt 1 789 s maple rd manhattan
4    8019010008                robie house, 789 north main street
5         hello         1111 S Figueroa St, Los Angeles, CA 90015
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NULL                                             hello

## 1. Default `clean_bg_egn`

By default, `clean_bg_egn` will clean egn strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_bg_egn
clean_bg_egn(df, column = "egn")

            egn                                           address   egn_clean
0  752316 926 3                                     123 Pine Ave.  7523169263
1    8032056031                                           main st  8032056031
2    7542011030                      1234 west main heights 57033  7542011030
3    7552A10004                    apt 1 789 s maple rd manhattan         NaN
4    8019010008                robie house, 789 north main street         NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015         NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7          NULL                                             hello         NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_bg_egn(df, column = "egn", output_format="standard")

            egn                                           address   egn_clean
0  752316 926 3                                     123 Pine Ave.  7523169263
1    8032056031                                           main st  8032056031
2    7542011030                      1234 west main heights 57033  7542011030
3    7552A10004                    apt 1 789 s maple rd manhattan         NaN
4    8019010008                robie house, 789 north main street         NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015         NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7          NULL                                             hello         NaN

### `compact`

In [4]:
clean_bg_egn(df, column = "egn", output_format="compact")

            egn                                           address   egn_clean
0  752316 926 3                                     123 Pine Ave.  7523169263
1    8032056031                                           main st  8032056031
2    7542011030                      1234 west main heights 57033  7542011030
3    7552A10004                    apt 1 789 s maple rd manhattan         NaN
4    8019010008                robie house, 789 north main street         NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015         NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7          NULL                                             hello         NaN

### `birthdate`

In [5]:
clean_bg_egn(df, column = "egn", output_format="birthdate")

            egn                                           address   egn_clean
0  752316 926 3                                     123 Pine Ave.  1875-03-16
1    8032056031                                           main st  1880-12-05
2    7542011030                      1234 west main heights 57033  2075-02-01
3    7552A10004                    apt 1 789 s maple rd manhattan         NaN
4    8019010008                robie house, 789 north main street         NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015         NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7          NULL                                             hello         NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned EGN strings is added with a title in the format `"{original title}_clean"`.

In [6]:
clean_bg_egn(df, column="egn", inplace=True)

    egn_clean                                           address
0  7523169263                                     123 Pine Ave.
1  8032056031                                           main st
2  7542011030                      1234 west main heights 57033
3         NaN                    apt 1 789 s maple rd manhattan
4         NaN                robie house, 789 north main street
5         NaN         1111 S Figueroa St, Los Angeles, CA 90015
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles
7         NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [7]:
clean_bg_egn(df, "egn", errors="coerce")

            egn                                           address   egn_clean
0  752316 926 3                                     123 Pine Ave.  7523169263
1    8032056031                                           main st  8032056031
2    7542011030                      1234 west main heights 57033  7542011030
3    7552A10004                    apt 1 789 s maple rd manhattan         NaN
4    8019010008                robie house, 789 north main street         NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015         NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7          NULL                                             hello         NaN

### `ignore`

In [8]:
clean_bg_egn(df, "egn", errors="ignore")

            egn                                           address   egn_clean
0  752316 926 3                                     123 Pine Ave.  7523169263
1    8032056031                                           main st  8032056031
2    7542011030                      1234 west main heights 57033  7542011030
3    7552A10004                    apt 1 789 s maple rd manhattan  7552A10004
4    8019010008                robie house, 789 north main street  8019010008
5         hello         1111 S Figueroa St, Los Angeles, CA 90015       hello
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7          NULL                                             hello         NaN

## 4. `validate_bg_egn()`

`validate_bg_egn()` returns `True` when the input is a valid EGN. Otherwise it returns `False`.

The input of `validate_bg_egn()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_bg_egn()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_bg_egn()` returns the validation result for the whole DataFrame.

In [9]:
from dataprep.clean import validate_bg_egn
print(validate_bg_egn(' 752316 926 3'))
print(validate_bg_egn('8032056031'))
print(validate_bg_egn('7542011030'))
print(validate_bg_egn('7552A10004'))
print(validate_bg_egn('8019010008'))
print(validate_bg_egn("hello"))
print(validate_bg_egn(np.nan))
print(validate_bg_egn("NULL"))

True
True
True
False
False
False
False
False

### Series

In [10]:
validate_bg_egn(df["egn"])

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
Name: egn, dtype: bool

### DataFrame + Specify Column

In [11]:
validate_bg_egn(df, column="egn")

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
Name: egn, dtype: bool

### Only DataFrame

In [12]:
validate_bg_egn(df)

     egn  address
0   True    False
1   True    False
2   True    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False