.. _ric_userguide:

Chinese Resident Identity Card Numbers
======================================

Introduction
------------

The function :func:`clean_cn_ric() <dataprep.clean.clean_cn_ric.clean_cn_ric>` cleans a column containing Chinese Resident Identity Card Number (RIC) strings, and standardizes them in a given format. The function :func:`validate_cn_ric() <dataprep.clean.clean_cn_ric.validate_cn_ric>` validates either a single RIC strings, a column of RIC strings or a DataFrame of RIC strings, returning `True` if the value is valid, and `False` otherwise.

RIC strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "360426199101010071"
* `standard`: RIC strings with proper whitespace in the proper places. Note that in the case of RIC, the compact format is the same as the standard one
* `birthdate`: split the date parts from the number and return the birth date
* `birthplace`: use the number to look up the place of birth of the person

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_cn_ric()` and `validate_cn_ric()`.

### An example dataset containing RIC strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "ric": [
            '360426199101010071',
            '230306196304054513',
            '230307196304054513', # invalid
            '110223790813697', # not a RIC
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

                  ric                                           address
0  360426199101010071                                     123 Pine Ave.
1  230306196304054513                                           main st
2  230307196304054513                      1234 west main heights 57033
3     110223790813697                    apt 1 789 s maple rd manhattan
4               hello                robie house, 789 north main street
5                 NaN  (staples center) 1111 S Figueroa St, Los Angeles
6                NULL                                             hello

## 1. Default `clean_cn_ric`

By default, `clean_cn_ric` will clean ric strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_cn_ric
clean_cn_ric(df, column = "ric")

,ric,address,ric_clean
0,360426199101010071,123 Pine Ave.,360426199101010071
1,230306196304054513,main st,230306196304054513
2,230307196304054513,1234 west main heights 57033,NaN
3,110223790813697,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_cn_ric(df, column = "ric", output_format="standard")

,ric,address,ric_clean
0,360426199101010071,123 Pine Ave.,360426199101010071
1,230306196304054513,main st,230306196304054513
2,230307196304054513,1234 west main heights 57033,NaN
3,110223790813697,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_cn_ric(df, column = "ric", output_format="compact")

,ric,address,ric_clean
0,360426199101010071,123 Pine Ave.,360426199101010071
1,230306196304054513,main st,230306196304054513
2,230307196304054513,1234 west main heights 57033,NaN
3,110223790813697,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `birthdate`

In [5]:
clean_cn_ric(df, column = "ric", output_format="birthdate")

,ric,address,ric_clean
0,360426199101010071,123 Pine Ave.,1991-01-01
1,230306196304054513,main st,1963-04-05
2,230307196304054513,1234 west main heights 57033,NaN
3,110223790813697,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `birthplace`

In [6]:
clean_cn_ric(df, column = "ric", output_format="birthplace")

,ric,address,ric_clean
0,360426199101010071,123 Pine Ave.,"{'county': '德安县', 'prefecture': '九江市', 'provin..."
1,230306196304054513,main st,"{'county': '城子河区', 'prefecture': '鸡西市', 'provi..."
2,230307196304054513,1234 west main heights 57033,NaN
3,110223790813697,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned RIC strings is added with a title in the format `"{original title}_clean"`.

In [7]:
clean_cn_ric(df, column="ric", inplace=True)

            ric_clean                                           address
0  360426199101010071                                     123 Pine Ave.
1  230306196304054513                                           main st
2                 NaN                      1234 west main heights 57033
3                 NaN                    apt 1 789 s maple rd manhattan
4                 NaN                robie house, 789 north main street
5                 NaN  (staples center) 1111 S Figueroa St, Los Angeles
6                 NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [8]:
clean_cn_ric(df, "ric", errors="coerce")

,ric,address,ric_clean
0,360426199101010071,123 Pine Ave.,360426199101010071
1,230306196304054513,main st,230306196304054513
2,230307196304054513,1234 west main heights 57033,NaN
3,110223790813697,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [9]:
clean_cn_ric(df, "ric", errors="ignore")

,ric,address,ric_clean
0,360426199101010071,123 Pine Ave.,360426199101010071
1,230306196304054513,main st,230306196304054513
2,230307196304054513,1234 west main heights 57033,230307196304054513
3,110223790813697,apt 1 789 s maple rd manhattan,110223790813697
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_cn_ric()`

`validate_cn_ric()` returns `True` when the input is a valid RIC. Otherwise it returns `False`.

The input of `validate_cn_ric()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_cn_ric()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_cn_ric()` returns the validation result for the whole DataFrame.

In [10]:
from dataprep.clean import validate_cn_ric
print(validate_cn_ric("230306196304054513"))
print(validate_cn_ric("1234567"))
print(validate_cn_ric("360426199101010071"))
print(validate_cn_ric("360436199101010071")) # change a bit and become invalid
print(validate_cn_ric("hello"))
print(validate_cn_ric(np.nan))
print(validate_cn_ric("NULL"))

True
False
True
False
False
False
False

### Series

In [11]:
validate_cn_ric(df["ric"])

0     True
1     True
2    False
3    False
4    False
5    False
6    False
Name: ric, dtype: bool

### DataFrame + Specify Column

In [12]:
validate_cn_ric(df, column="ric")

0     True
1     True
2    False
3    False
4    False
5    False
6    False
Name: ric, dtype: bool

### Only DataFrame

In [13]:
validate_cn_ric(df)

     ric  address
0   True    False
1   True    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False