.. _referenciacatastral_userguide:

Spanish Real State IDs
======================

Introduction
------------

The function :func:`clean_es_referenciacatastral() <dataprep.clean.clean_es_referenciacatastral.clean_es_referenciacatastral>` cleans a column containing Spanish real state id (Referenciacatastral) strings, and standardizes them in a given format. The function :func:`validate_es_referenciacatastral() <dataprep.clean.clean_es_referenciacatastral.validate_es_referenciacatastral>` validates either a single Referenciacatastral strings, a column of Referenciacatastral strings or a DataFrame of Referenciacatastral strings, returning `True` if the value is valid, and `False` otherwise.

Referenciacatastral strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "4A08169P03PRAT0001LR"
* `standard`: Referenciacatastral strings with proper whitespace in the proper places, like "4A08169 P03PRAT 0001 LR"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_es_referenciacatastral()` and `validate_es_referenciacatastral()`.

### An example dataset containing Referenciacatastral strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "referenciacatastral": [
            "4A08169P03PRAT0001LR",
            "7837301/VG8173B 0001 TT",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

       referenciacatastral                                           address
0     4A08169P03PRAT0001LR                                     123 Pine Ave.
1  7837301/VG8173B 0001 TT                                           main st
2              51824753556                      1234 west main heights 57033
3           51 824 753 556                    apt 1 789 s maple rd manhattan
4                    hello                robie house, 789 north main street
5                      NaN  (staples center) 1111 S Figueroa St, Los Angeles
6                     NULL                                             hello

## 1. Default `clean_es_referenciacatastral`

By default, `clean_es_referenciacatastral` will clean referenciacatastral strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_es_referenciacatastral
clean_es_referenciacatastral(df, column = "referenciacatastral")

,referenciacatastral,address,referenciacatastral_clean
0,4A08169P03PRAT0001LR,123 Pine Ave.,4A08169 P03PRAT 0001 LR
1,7837301/VG8173B 0001 TT,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_es_referenciacatastral(df, column = "referenciacatastral", output_format="standard")

,referenciacatastral,address,referenciacatastral_clean
0,4A08169P03PRAT0001LR,123 Pine Ave.,4A08169 P03PRAT 0001 LR
1,7837301/VG8173B 0001 TT,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_es_referenciacatastral(df, column = "referenciacatastral", output_format="compact")

,referenciacatastral,address,referenciacatastral_clean
0,4A08169P03PRAT0001LR,123 Pine Ave.,4A08169P03PRAT0001LR
1,7837301/VG8173B 0001 TT,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned Referenciacatastral strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_es_referenciacatastral(df, column="referenciacatastral", inplace=True)

  referenciacatastral_clean                                           address
0   4A08169 P03PRAT 0001 LR                                     123 Pine Ave.
1                       NaN                                           main st
2                       NaN                      1234 west main heights 57033
3                       NaN                    apt 1 789 s maple rd manhattan
4                       NaN                robie house, 789 north main street
5                       NaN  (staples center) 1111 S Figueroa St, Los Angeles
6                       NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_es_referenciacatastral(df, "referenciacatastral", errors="coerce")

,referenciacatastral,address,referenciacatastral_clean
0,4A08169P03PRAT0001LR,123 Pine Ave.,4A08169 P03PRAT 0001 LR
1,7837301/VG8173B 0001 TT,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_es_referenciacatastral(df, "referenciacatastral", errors="ignore")

,referenciacatastral,address,referenciacatastral_clean
0,4A08169P03PRAT0001LR,123 Pine Ave.,4A08169 P03PRAT 0001 LR
1,7837301/VG8173B 0001 TT,main st,7837301/VG8173B 0001 TT
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_es_referenciacatastral()`

`validate_es_referenciacatastral()` returns `True` when the input is a valid Referenciacatastral. Otherwise it returns `False`.

The input of `validate_es_referenciacatastral()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_es_referenciacatastral()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_es_referenciacatastral()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_es_referenciacatastral
print(validate_es_referenciacatastral("4A08169P03PRAT0001LR"))
print(validate_es_referenciacatastral("7837301/VG8173B 0001 TT"))
print(validate_es_referenciacatastral("51824753556"))
print(validate_es_referenciacatastral("51 824 753 556"))
print(validate_es_referenciacatastral("hello"))
print(validate_es_referenciacatastral(np.nan))
print(validate_es_referenciacatastral("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_es_referenciacatastral(df["referenciacatastral"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: referenciacatastral, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_es_referenciacatastral(df, column="referenciacatastral")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: referenciacatastral, dtype: bool

### Only DataFrame

In [11]:
validate_es_referenciacatastral(df)

   referenciacatastral  address
0                 True    False
1                False    False
2                False    False
3                False    False
4                False    False
5                False    False
6                False    False