# ISBN Numbers

## Introduction

The function `clean_isbn()` cleans a column containing ISBN strings, and standardizes them in a given format. The function `validate_isbn()` validates either a single ISBN strings, a column of ISBN strings or a DataFrame of ISBN strings, returning `True` if the value is valid, and `False` otherwise.

Currently, an ISBN is composed by following components:

* 3-digit (only in ISBN-13) Bookland Code
* 1 to 5-digit Group Identifier (identifies country or language)
* 1 to 7-digit Publisher Code
* 1 to 8-digit Item Number (identifies the book)
* a Check Digit

Usually, the delimiters of ISBN is `-`.

ISBN strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators, like "9789024538270"
* `standard`: ISBN strings with proper delimiters in the proper places, like "978-90-245-3827-0"
* `isbn13`: standard format of 13-digits ISBN string, like "978-90-245-3827-0"
* `isbn10`: standard format of 10-digits ISBN string, like "90-245-3827-0"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_isbn()` and `validate_isbn()`.

### An example dataset containing ISBN strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "isbn": [
            "978-9024538270",
            "978-9024538271",
            "1-85798-218-5",
            "9780471117094",
            "1857982185",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

             isbn                                           address
0  978-9024538270                                     123 Pine Ave.
1  978-9024538271                                           main st
2   1-85798-218-5                      1234 west main heights 57033
3   9780471117094                    apt 1 789 s maple rd manhattan
4      1857982185                robie house, 789 north main street
5           hello         1111 S Figueroa St, Los Angeles, CA 90015
6             NaN  (staples center) 1111 S Figueroa St, Los Angeles
7            NULL                                             hello

## 1. Default `clean_isbn`

By default, `clean_isbn` will clean isbn strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_isbn
clean_isbn(df, column = "isbn")

,isbn,address,isbn_clean
0,978-9024538270,123 Pine Ave.,978-90-245-3827-0
1,978-9024538271,main st,NaN
2,1-85798-218-5,1234 west main heights 57033,1-85798-218-5
3,9780471117094,apt 1 789 s maple rd manhattan,978-0-471-11709-4
4,1857982185,"robie house, 789 north main street",1-85798-218-5
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

In [3]:
df_clean = clean_isbn(df, column = "isbn", inplace=True)
df_clean

          isbn_clean                                           address
0  978-90-245-3827-0                                     123 Pine Ave.
1                NaN                                           main st
2      1-85798-218-5                      1234 west main heights 57033
3  978-0-471-11709-4                    apt 1 789 s maple rd manhattan
4      1-85798-218-5                robie house, 789 north main street
5                NaN         1111 S Figueroa St, Los Angeles, CA 90015
6                NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                NaN                                             hello

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [4]:
clean_isbn(df, column = "isbn", inplace=True, output_format="standard")

          isbn_clean                                           address
0  978-90-245-3827-0                                     123 Pine Ave.
1                NaN                                           main st
2      1-85798-218-5                      1234 west main heights 57033
3  978-0-471-11709-4                    apt 1 789 s maple rd manhattan
4      1-85798-218-5                robie house, 789 north main street
5                NaN         1111 S Figueroa St, Los Angeles, CA 90015
6                NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                NaN                                             hello

### `compact`

In [5]:
clean_isbn(df, column = "isbn", inplace=True, output_format="compact")

      isbn_clean                                           address
0  9789024538270                                     123 Pine Ave.
1            NaN                                           main st
2     1857982185                      1234 west main heights 57033
3  9780471117094                    apt 1 789 s maple rd manhattan
4     1857982185                robie house, 789 north main street
5            NaN         1111 S Figueroa St, Los Angeles, CA 90015
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles
7            NaN                                             hello

### `isbn13`

In [6]:
clean_isbn(df, column = "isbn", inplace=True, output_format="isbn13")

          isbn_clean                                           address
0  978-90-245-3827-0                                     123 Pine Ave.
1                NaN                                           main st
2  978-1-85798-218-3                      1234 west main heights 57033
3  978-0-471-11709-4                    apt 1 789 s maple rd manhattan
4  978-1-85798-218-3                robie house, 789 north main street
5                NaN         1111 S Figueroa St, Los Angeles, CA 90015
6                NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                NaN                                             hello

### `isbn10`

In [7]:
clean_isbn(df, column = "isbn", inplace=True, output_format="isbn10")

      isbn_clean                                           address
0  90-245-3827-0                                     123 Pine Ave.
1            NaN                                           main st
2  1-85798-218-5                      1234 west main heights 57033
3  0-471-11709-9                    apt 1 789 s maple rd manhattan
4  1-85798-218-5                robie house, 789 north main street
5            NaN         1111 S Figueroa St, Los Angeles, CA 90015
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles
7            NaN                                             hello

## 3. `split` parameter

The `split` parameter adds individual columns containing the cleaned 13-digits ISBN values to the given DataFrame.

In [8]:
 clean_isbn(df, column="isbn", split=True)

  0%|          | 0/9 [00:00<?, ?it/s]

,isbn,address,isbn_clean,prefix_code,group_code,publisher_code,item_code,check_digit
0,978-9024538270,123 Pine Ave.,978-90-245-3827-0,978,90,245,3827,0
1,978-9024538271,main st,NaN,NaN,NaN,NaN,NaN,NaN
2,1-85798-218-5,1234 west main heights 57033,1-85798-218-5,978,1,85798,218,3
3,9780471117094,apt 1 789 s maple rd manhattan,978-0-471-11709-4,978,0,471,11709,4
4,1857982185,"robie house, 789 north main street",1-85798-218-5,978,1,85798,218,3
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN,NaN,NaN,NaN,NaN,NaN
7,NULL,hello,NaN,NaN,NaN,NaN,NaN,NaN

## 4. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned ISBN strings is added with a title in the format `"{original title}_clean"`.

In [9]:
clean_isbn(df, column="isbn", inplace=True)

          isbn_clean                                           address
0  978-90-245-3827-0                                     123 Pine Ave.
1                NaN                                           main st
2      1-85798-218-5                      1234 west main heights 57033
3  978-0-471-11709-4                    apt 1 789 s maple rd manhattan
4      1-85798-218-5                robie house, 789 north main street
5                NaN         1111 S Figueroa St, Los Angeles, CA 90015
6                NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                NaN                                             hello

### `inplace` and `split`

In [10]:
clean_isbn(df, column="isbn", inplace=True, split=True)

  0%|          | 0/9 [00:00<?, ?it/s]

,isbn_clean,address,prefix_code,group_code,publisher_code,item_code,check_digit
0,978-90-245-3827-0,123 Pine Ave.,978,90,245,3827,0
1,NaN,main st,NaN,NaN,NaN,NaN,NaN
2,1-85798-218-5,1234 west main heights 57033,978,1,85798,218,3
3,978-0-471-11709-4,apt 1 789 s maple rd manhattan,978,0,471,11709,4
4,1-85798-218-5,"robie house, 789 north main street",978,1,85798,218,3
5,NaN,"1111 S Figueroa St, Los Angeles, CA 90015",NaN,NaN,NaN,NaN,NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN,NaN,NaN,NaN,NaN
7,NaN,hello,NaN,NaN,NaN,NaN,NaN

## 5. `errors` parameter

### `coerce` (default)

In [11]:
clean_isbn(df, "isbn", errors="coerce")

,isbn,address,isbn_clean
0,978-9024538270,123 Pine Ave.,978-90-245-3827-0
1,978-9024538271,main st,NaN
2,1-85798-218-5,1234 west main heights 57033,1-85798-218-5
3,9780471117094,apt 1 789 s maple rd manhattan,978-0-471-11709-4
4,1857982185,"robie house, 789 north main street",1-85798-218-5
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `ignore`

In [12]:
clean_isbn(df, "isbn", errors="ignore")

,isbn,address,isbn_clean
0,978-9024538270,123 Pine Ave.,978-90-245-3827-0
1,978-9024538271,main st,978-9024538271
2,1-85798-218-5,1234 west main heights 57033,1-85798-218-5
3,9780471117094,apt 1 789 s maple rd manhattan,978-0-471-11709-4
4,1857982185,"robie house, 789 north main street",1-85798-218-5
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_isbn()`

`validate_isbn()` returns `True` when the input is a valid phone number. Otherwise it returns `False`.

The input of `validate_isbn()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_isbn()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_isbn()` returns the validation result for the whole DataFrame.

In [13]:
from dataprep.clean import validate_isbn
print(validate_isbn("978-9024538270"))
print(validate_isbn("978-9024538271"))
print(validate_isbn("1-85798-218-5"))
print(validate_isbn("9780471117094"))
print(validate_isbn("1857982185"))
print(validate_isbn("hello"))
print(validate_isbn(np.nan))
print(validate_isbn("NULL"))

True
False
True
True
True
False
False
False

### DataFrame + Specify Column

In [14]:
validate_isbn(df, column="isbn")

0     True
1    False
2     True
3     True
4     True
5    False
6    False
7    False
Name: isbn, dtype: bool

### Only DataFrame

In [15]:
validate_isbn(df)

    isbn  address
0   True    False
1  False    False
2   True    False
3   True    False
4   True    False
5  False    False
6  False    False
7  False    False