.. _registrikood_userguide:

Estonian Organisation Registration Codes
========================================

Introduction
------------

The function :func:`clean_ee_registrikood() <dataprep.clean.clean_ee_registrikood.clean_ee_registrikood>` cleans a column containing Estonian organisation registration code (Registrikood) strings, and standardizes them in a given format. The function :func:`validate_ee_registrikood() <dataprep.clean.clean_ee_registrikood.validate_ee_registrikood>` validates either a single Registrikood strings, a column of Registrikood strings or a DataFrame of Registrikood strings, returning `True` if the value is valid, and `False` otherwise.

Registrikood strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "12345678"
* `standard`: Registrikood strings with proper whitespace in the proper places. Note that in the case of Registrikood, the compact format is the same as the standard one.

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_ee_registrikood()` and `validate_ee_registrikood()`.

### An example dataset containing Registrikood strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "registrikood": [
            '12345678',
            '12345679',
            'BE 428759497',
            'BE431150351',
            "002 724 334",
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

   registrikood                                           address
0      12345678                                     123 Pine Ave.
1      12345679                                           main st
2  BE 428759497                      1234 west main heights 57033
3   BE431150351                    apt 1 789 s maple rd manhattan
4   002 724 334                robie house, 789 north main street
5         hello         1111 S Figueroa St, Los Angeles, CA 90015
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NULL                                             hello

## 1. Default `clean_ee_registrikood`

By default, `clean_ee_registrikood` will clean registrikood strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_ee_registrikood
clean_ee_registrikood(df, column = "registrikood")

,registrikood,address,registrikood_clean
0,12345678,123 Pine Ave.,12345678
1,12345679,main st,NaN
2,BE 428759497,1234 west main heights 57033,NaN
3,BE431150351,apt 1 789 s maple rd manhattan,NaN
4,002 724 334,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_ee_registrikood(df, column = "registrikood", output_format="standard")

,registrikood,address,registrikood_clean
0,12345678,123 Pine Ave.,12345678
1,12345679,main st,NaN
2,BE 428759497,1234 west main heights 57033,NaN
3,BE431150351,apt 1 789 s maple rd manhattan,NaN
4,002 724 334,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `compact`

In [4]:
clean_ee_registrikood(df, column = "registrikood", output_format="compact")

,registrikood,address,registrikood_clean
0,12345678,123 Pine Ave.,12345678
1,12345679,main st,NaN
2,BE 428759497,1234 west main heights 57033,NaN
3,BE431150351,apt 1 789 s maple rd manhattan,NaN
4,002 724 334,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned Registrikood strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_ee_registrikood(df, column="registrikood", inplace=True)

  registrikood_clean                                           address
0           12345678                                     123 Pine Ave.
1                NaN                                           main st
2                NaN                      1234 west main heights 57033
3                NaN                    apt 1 789 s maple rd manhattan
4                NaN                robie house, 789 north main street
5                NaN         1111 S Figueroa St, Los Angeles, CA 90015
6                NaN  (staples center) 1111 S Figueroa St, Los Angeles
7                NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_ee_registrikood(df, "registrikood", errors="coerce")

,registrikood,address,registrikood_clean
0,12345678,123 Pine Ave.,12345678
1,12345679,main st,NaN
2,BE 428759497,1234 west main heights 57033,NaN
3,BE431150351,apt 1 789 s maple rd manhattan,NaN
4,002 724 334,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `ignore`

In [7]:
clean_ee_registrikood(df, "registrikood", errors="ignore")

,registrikood,address,registrikood_clean
0,12345678,123 Pine Ave.,12345678
1,12345679,main st,12345679
2,BE 428759497,1234 west main heights 57033,BE 428759497
3,BE431150351,apt 1 789 s maple rd manhattan,BE431150351
4,002 724 334,"robie house, 789 north main street",002 724 334
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_ee_registrikood()`

`validate_ee_registrikood()` returns `True` when the input is a valid Registrikood. Otherwise it returns `False`.

The input of `validate_ee_registrikood()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_ee_registrikood()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_ee_registrikood()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_ee_registrikood
print(validate_ee_registrikood("12345678"))
print(validate_ee_registrikood("12345679"))
print(validate_ee_registrikood('BE 428759497'))
print(validate_ee_registrikood('BE431150351'))
print(validate_ee_registrikood("004085616"))
print(validate_ee_registrikood("hello"))
print(validate_ee_registrikood(np.nan))
print(validate_ee_registrikood("NULL"))

True
False
False
False
False
False
False
False

### Series

In [9]:
validate_ee_registrikood(df["registrikood"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: registrikood, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_ee_registrikood(df, column="registrikood")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: registrikood, dtype: bool

### Only DataFrame

In [11]:
validate_ee_registrikood(df)

   registrikood  address
0          True    False
1         False    False
2         False    False
3         False    False
4         False    False
5         False    False
6         False    False
7         False    False