.. _nif_userguide:

Spanish NIF Numbers
===================

Introduction
------------

The function :func:`clean_es_nif() <dataprep.clean.clean_es_nif.clean_es_nif>` cleans a column containing Spanish NIF number (NIF) strings, and standardizes them in a given format. The function :func:`validate_es_nif() <dataprep.clean.clean_es_nif.validate_es_nif>` validates either a single NIF strings, a column of NIF strings or a DataFrame of NIF strings, returning `True` if the value is valid, and `False` otherwise.

NIF strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "B58378431"
* `standard`: NIF strings with proper whitespace in the proper places. Note that in the case of NIF, the compact format is the same as the standard one.

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_es_nif()` and `validate_es_nif()`.

### An example dataset containing NIF strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "nif": [
            'ES B-58378431',
            'B64717839',
            'BE 428759497',
            'BE431150351',
            "002 724 334",
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

             nif                                           address
0  ES B-58378431                                     123 Pine Ave.
1      B64717839                                           main st
2   BE 428759497                      1234 west main heights 57033
3    BE431150351                    apt 1 789 s maple rd manhattan
4    002 724 334                robie house, 789 north main street
5          hello         1111 S Figueroa St, Los Angeles, CA 90015
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles
7           NULL                                             hello

## 1. Default `clean_es_nif`

By default, `clean_es_nif` will clean nif strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_es_nif
clean_es_nif(df, column = "nif")

             nif                                           address  nif_clean
0  ES B-58378431                                     123 Pine Ave.  B58378431
1      B64717839                                           main st        NaN
2   BE 428759497                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_es_nif(df, column = "nif", output_format="standard")

             nif                                           address  nif_clean
0  ES B-58378431                                     123 Pine Ave.  B58378431
1      B64717839                                           main st        NaN
2   BE 428759497                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

### `compact`

In [4]:
clean_es_nif(df, column = "nif", output_format="compact")

             nif                                           address  nif_clean
0  ES B-58378431                                     123 Pine Ave.  B58378431
1      B64717839                                           main st        NaN
2   BE 428759497                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned NIF strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_es_nif(df, column="nif", inplace=True)

   nif_clean                                           address
0  B58378431                                     123 Pine Ave.
1        NaN                                           main st
2        NaN                      1234 west main heights 57033
3        NaN                    apt 1 789 s maple rd manhattan
4        NaN                robie house, 789 north main street
5        NaN         1111 S Figueroa St, Los Angeles, CA 90015
6        NaN  (staples center) 1111 S Figueroa St, Los Angeles
7        NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_es_nif(df, "nif", errors="coerce")

             nif                                           address  nif_clean
0  ES B-58378431                                     123 Pine Ave.  B58378431
1      B64717839                                           main st        NaN
2   BE 428759497                      1234 west main heights 57033        NaN
3    BE431150351                    apt 1 789 s maple rd manhattan        NaN
4    002 724 334                robie house, 789 north main street        NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7           NULL                                             hello        NaN

### `ignore`

In [7]:
clean_es_nif(df, "nif", errors="ignore")

,nif,address,nif_clean
0,ES B-58378431,123 Pine Ave.,B58378431
1,B64717839,main st,B64717839
2,BE 428759497,1234 west main heights 57033,BE 428759497
3,BE431150351,apt 1 789 s maple rd manhattan,BE431150351
4,002 724 334,"robie house, 789 north main street",002 724 334
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_es_nif()`

`validate_es_nif()` returns `True` when the input is a valid NIF. Otherwise it returns `False`.

The input of `validate_es_nif()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_es_nif()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_es_nif()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_es_nif
print(validate_es_nif('ES B-58378431'))
print(validate_es_nif('B64717839'))
print(validate_es_nif('BE 428759497'))
print(validate_es_nif('BE431150351'))
print(validate_es_nif("004085616"))
print(validate_es_nif("hello"))
print(validate_es_nif(np.nan))
print(validate_es_nif("NULL"))

True
False
False
False
False
False
False
False

### Series

In [9]:
validate_es_nif(df["nif"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: nif, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_es_nif(df, column="nif")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: nif, dtype: bool

### Only DataFrame

In [11]:
validate_es_nif(df)

     nif  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False