# Costa Rica Tax Numbers

## Introduction

The function `clean_cr_cpj()` cleans a column containing Costa Rica tax number (CPJ) strings, and standardizes them in a given format. The function `validate_cr_cpj()` validates either a single CPJ strings, a column of CPJ strings or a DataFrame of CPJ strings, returning `True` if the value is valid, and `False` otherwise.

CPJ strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "4000042138"
* `standard`: CPJ strings with proper whitespace in the proper places, like "4-000-042138"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_cr_cpj()` and `validate_cr_cpj()`.

### An example dataset containing CPJ strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "cpj": [
            "4 000 042138",
            "3-534-123559",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              cpj                                           address
0    4 000 042138                                     123 Pine Ave.
1    3-534-123559                                           main st
2     51824753556                      1234 west main heights 57033
3  51 824 753 556                    apt 1 789 s maple rd manhattan
4           hello                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NULL                                             hello

## 1. Default `clean_cr_cpj`

By default, `clean_cr_cpj` will clean cpj strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_cr_cpj
clean_cr_cpj(df, column = "cpj")

,cpj,address,cpj_clean
0,4 000 042138,123 Pine Ave.,4-000-042138
1,3-534-123559,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_cr_cpj(df, column = "cpj", output_format="standard")

,cpj,address,cpj_clean
0,4 000 042138,123 Pine Ave.,4-000-042138
1,3-534-123559,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_cr_cpj(df, column = "cpj", output_format="compact")

,cpj,address,cpj_clean
0,4 000 042138,123 Pine Ave.,4000042138
1,3-534-123559,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned CPJ strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_cr_cpj(df, column="cpj", inplace=True)

      cpj_clean                                           address
0  4-000-042138                                     123 Pine Ave.
1           NaN                                           main st
2           NaN                      1234 west main heights 57033
3           NaN                    apt 1 789 s maple rd manhattan
4           NaN                robie house, 789 north main street
5           NaN  (staples center) 1111 S Figueroa St, Los Angeles
6           NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_cr_cpj(df, "cpj", errors="coerce")

,cpj,address,cpj_clean
0,4 000 042138,123 Pine Ave.,4-000-042138
1,3-534-123559,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_cr_cpj(df, "cpj", errors="ignore")

,cpj,address,cpj_clean
0,4 000 042138,123 Pine Ave.,4-000-042138
1,3-534-123559,main st,3-534-123559
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_cr_cpj()`

`validate_cr_cpj()` returns `True` when the input is a valid CPJ. Otherwise it returns `False`.

The input of `validate_cr_cpj()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_cr_cpj()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_cr_cpj()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_cr_cpj
print(validate_cr_cpj("4 000 042138"))
print(validate_cr_cpj("3-534-123559"))
print(validate_cr_cpj("51824753556"))
print(validate_cr_cpj("51 824 753 556"))
print(validate_cr_cpj("hello"))
print(validate_cr_cpj(np.nan))
print(validate_cr_cpj("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_cr_cpj(df["cpj"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cpj, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_cr_cpj(df, column="cpj")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cpj, dtype: bool

### Only DataFrame

In [11]:
validate_cr_cpj(df)

     cpj  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False