.. _dic_userguide:

DIC Strings
============

Introduction
------------

The function :func:`clean_cz_dic() <dataprep.clean.clean_cz_dic.clean_cz_dic>` cleans a column containing Czech DIC number (DIC) strings, and standardizes them in a given format. The function :func:`validate_cz_dic() <dataprep.clean.clean_cz_dic.validate_cz_dic>` validates either a single DIC strings, a column of DIC strings or a DataFrame of DIC strings, returning `True` if the value is valid, and `False` otherwise.

DIC strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "25123891"
* `standard`: DIC strings with proper whitespace in the proper places. Note that in the case of DIC, the compact format is the same as the standard one.

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_cz_dic()` and `validate_cz_dic()`.

### An example dataset containing DIC strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "dic": [
            'CZ 25123891',
            '25123890',
            'BE 428759497',
            'BE431150351',
            "002 724 334",
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

            dic                                           address
0   CZ 25123891                                     123 Pine Ave.
1      25123890                                           main st
2  BE 428759497                      1234 west main heights 57033
3   BE431150351                    apt 1 789 s maple rd manhattan
4   002 724 334                robie house, 789 north main street
5         hello         1111 S Figueroa St, Los Angeles, CA 90015
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NULL                                             hello

## 1. Default `clean_cz_dic`

By default, `clean_cz_dic` will clean dic strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_cz_dic
clean_cz_dic(df, column = "dic")

            dic                                           address  dic_clean
0   CZ 25123891                                     123 Pine Ave.   25123891
1      25123890                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street  002724334
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_cz_dic(df, column = "dic", output_format="standard")

            dic                                           address  dic_clean
0   CZ 25123891                                     123 Pine Ave.   25123891
1      25123890                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street  002724334
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `compact`

In [4]:
clean_cz_dic(df, column = "dic", output_format="compact")

            dic                                           address  dic_clean
0   CZ 25123891                                     123 Pine Ave.   25123891
1      25123890                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street  002724334
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned DIC strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_cz_dic(df, column="dic", inplace=True)

   dic_clean                                           address
0   25123891                                     123 Pine Ave.
1        NaN                                           main st
2        NaN                      1234 west main heights 57033
3        NaN                    apt 1 789 s maple rd manhattan
4  002724334                robie house, 789 north main street
5        NaN         1111 S Figueroa St, Los Angeles, CA 90015
6        NaN  (staples center) 1111 S Figueroa St, Los Angeles
7        NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_cz_dic(df, "dic", errors="coerce")

            dic                                           address  dic_clean
0   CZ 25123891                                     123 Pine Ave.   25123891
1      25123890                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street  002724334
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `ignore`

In [7]:
clean_cz_dic(df, "dic", errors="ignore")

,dic,address,dic_clean
0,CZ 25123891,123 Pine Ave.,25123891
1,25123890,main st,25123890
2,BE 428759497,1234 west main heights 57033,BE 428759497
3,BE431150351,apt 1 789 s maple rd manhattan,BE431150351
4,002 724 334,"robie house, 789 north main street",002724334
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_cz_dic()`

`validate_cz_dic()` returns `True` when the input is a valid DIC. Otherwise it returns `False`.

The input of `validate_cz_dic()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_cz_dic()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_cz_dic()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_cz_dic
print(validate_cz_dic('CZ 25123891'))
print(validate_cz_dic('25123890'))
print(validate_cz_dic('BE 428759497'))
print(validate_cz_dic('BE431150351'))
print(validate_cz_dic("004085616"))
print(validate_cz_dic("hello"))
print(validate_cz_dic(np.nan))
print(validate_cz_dic("NULL"))

True
False
False
False
False
False
False
False

### Series

In [9]:
validate_cz_dic(df["dic"])

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
Name: dic, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_cz_dic(df, column="dic")

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
Name: dic, dtype: bool

### Only DataFrame

In [11]:
validate_cz_dic(df)

     dic  address
0   True    False
1  False    False
2  False    False
3  False    False
4   True    False
5  False    False
6  False    False
7  False    False