.. _rfc_userguide:

Mexican Tax Numbers
===================

Introduction
------------

The function :func:`clean_mx_rfc() <dataprep.clean.clean_mx_rfc.clean_mx_rfc>` cleans a column containing Mexican tax number (RFC) strings, and standardizes them in a given format. The function :func:`validate_mx_rfc() <dataprep.clean.clean_mx_rfc.validate_mx_rfc>` validates either a single RFC strings, a column of RFC strings or a DataFrame of RFC strings, returning `True` if the value is valid, and `False` otherwise.

RFC strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "GODE561231GR8"
* `standard`: RFC strings with proper whitespace in the proper places, like "GODE 561231 GR8"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_mx_rfc()` and `validate_mx_rfc()`.

### An example dataset containing RFC strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "rfc": [
            "GODE561231GR8",
            "BUEI591231GH9",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              rfc                                           address
0   GODE561231GR8                                     123 Pine Ave.
1   BUEI591231GH9                                           main st
2     51824753556                      1234 west main heights 57033
3  51 824 753 556                    apt 1 789 s maple rd manhattan
4           hello                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NULL                                             hello

## 1. Default `clean_mx_rfc`

By default, `clean_mx_rfc` will clean rfc strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_mx_rfc
clean_mx_rfc(df, column = "rfc")

,rfc,address,rfc_clean
0,GODE561231GR8,123 Pine Ave.,GODE 561231 GR8
1,BUEI591231GH9,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_mx_rfc(df, column = "rfc", output_format="standard")

,rfc,address,rfc_clean
0,GODE561231GR8,123 Pine Ave.,GODE 561231 GR8
1,BUEI591231GH9,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_mx_rfc(df, column = "rfc", output_format="compact")

,rfc,address,rfc_clean
0,GODE561231GR8,123 Pine Ave.,GODE561231GR8
1,BUEI591231GH9,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned RFC strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_mx_rfc(df, column="rfc", inplace=True)

         rfc_clean                                           address
0  GODE 561231 GR8                                     123 Pine Ave.
1              NaN                                           main st
2              NaN                      1234 west main heights 57033
3              NaN                    apt 1 789 s maple rd manhattan
4              NaN                robie house, 789 north main street
5              NaN  (staples center) 1111 S Figueroa St, Los Angeles
6              NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_mx_rfc(df, "rfc", errors="coerce")

,rfc,address,rfc_clean
0,GODE561231GR8,123 Pine Ave.,GODE 561231 GR8
1,BUEI591231GH9,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_mx_rfc(df, "rfc", errors="ignore")

,rfc,address,rfc_clean
0,GODE561231GR8,123 Pine Ave.,GODE 561231 GR8
1,BUEI591231GH9,main st,BUEI591231GH9
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_mx_rfc()`

`validate_mx_rfc()` returns `True` when the input is a valid RFC. Otherwise it returns `False`.

The input of `validate_mx_rfc()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_mx_rfc()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_mx_rfc()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_mx_rfc
print(validate_mx_rfc("GODE561231GR8"))
print(validate_mx_rfc("BUEI591231GH9"))
print(validate_mx_rfc("51824753556"))
print(validate_mx_rfc("51 824 753 556"))
print(validate_mx_rfc("hello"))
print(validate_mx_rfc(np.nan))
print(validate_mx_rfc("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_mx_rfc(df["rfc"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: rfc, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_mx_rfc(df, column="rfc")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: rfc, dtype: bool

### Only DataFrame

In [11]:
validate_mx_rfc(df)

     rfc  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False