.. _cui_userguide:

CUI Strings
============

Introduction
------------

The function :func:`clean_pe_cui() <dataprep.clean.clean_pe_cui.clean_pe_cui>` cleans a column containing Peruvian personal number (CUI) strings, and standardizes them in a given format. The function :func:`validate_pe_cui() <dataprep.clean.clean_pe_cui.validate_pe_cui>` validates either a single CUI strings, a column of CUI strings or a DataFrame of CUI strings, returning `True` if the value is valid, and `False` otherwise.

CUI strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "10117410"
* `standard`: CUI strings with proper whitespace in the proper places. Note that in the case of CUI, the compact format is the same as the standard one.
* `ruc`: convert the number to a valid RUC, like "10101174102".

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_pe_cui()` and `validate_pe_cui()`.

### An example dataset containing CUI strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "cui": [
            "10117410",
            "10117410-3",
            '7542011030',
            '7552A10004',
            '8019010008',
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

          cui                                           address
0    10117410                                     123 Pine Ave.
1  10117410-3                                           main st
2  7542011030                      1234 west main heights 57033
3  7552A10004                    apt 1 789 s maple rd manhattan
4  8019010008                robie house, 789 north main street
5       hello         1111 S Figueroa St, Los Angeles, CA 90015
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles
7        NULL                                             hello

## 1. Default `clean_pe_cui`

By default, `clean_pe_cui` will clean cui strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_pe_cui
clean_pe_cui(df, column = "cui")

          cui                                           address cui_clean
0    10117410                                     123 Pine Ave.  10117410
1  10117410-3                                           main st       NaN
2  7542011030                      1234 west main heights 57033       NaN
3  7552A10004                    apt 1 789 s maple rd manhattan       NaN
4  8019010008                robie house, 789 north main street       NaN
5       hello         1111 S Figueroa St, Los Angeles, CA 90015       NaN
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles       NaN
7        NULL                                             hello       NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_pe_cui(df, column = "cui", output_format="standard")

          cui                                           address cui_clean
0    10117410                                     123 Pine Ave.  10117410
1  10117410-3                                           main st       NaN
2  7542011030                      1234 west main heights 57033       NaN
3  7552A10004                    apt 1 789 s maple rd manhattan       NaN
4  8019010008                robie house, 789 north main street       NaN
5       hello         1111 S Figueroa St, Los Angeles, CA 90015       NaN
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles       NaN
7        NULL                                             hello       NaN

### `compact`

In [4]:
clean_pe_cui(df, column = "cui", output_format="compact")

          cui                                           address cui_clean
0    10117410                                     123 Pine Ave.  10117410
1  10117410-3                                           main st       NaN
2  7542011030                      1234 west main heights 57033       NaN
3  7552A10004                    apt 1 789 s maple rd manhattan       NaN
4  8019010008                robie house, 789 north main street       NaN
5       hello         1111 S Figueroa St, Los Angeles, CA 90015       NaN
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles       NaN
7        NULL                                             hello       NaN

### `ruc`

In [5]:
clean_pe_cui(df, column = "cui", output_format="ruc")

          cui                                           address    cui_clean
0    10117410                                     123 Pine Ave.  10101174102
1  10117410-3                                           main st          NaN
2  7542011030                      1234 west main heights 57033          NaN
3  7552A10004                    apt 1 789 s maple rd manhattan          NaN
4  8019010008                robie house, 789 north main street          NaN
5       hello         1111 S Figueroa St, Los Angeles, CA 90015          NaN
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles          NaN
7        NULL                                             hello          NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned CUI strings is added with a title in the format `"{original title}_clean"`.

In [6]:
clean_pe_cui(df, column="cui", inplace=True)

  cui_clean                                           address
0  10117410                                     123 Pine Ave.
1       NaN                                           main st
2       NaN                      1234 west main heights 57033
3       NaN                    apt 1 789 s maple rd manhattan
4       NaN                robie house, 789 north main street
5       NaN         1111 S Figueroa St, Los Angeles, CA 90015
6       NaN  (staples center) 1111 S Figueroa St, Los Angeles
7       NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [7]:
clean_pe_cui(df, "cui", errors="coerce")

          cui                                           address cui_clean
0    10117410                                     123 Pine Ave.  10117410
1  10117410-3                                           main st       NaN
2  7542011030                      1234 west main heights 57033       NaN
3  7552A10004                    apt 1 789 s maple rd manhattan       NaN
4  8019010008                robie house, 789 north main street       NaN
5       hello         1111 S Figueroa St, Los Angeles, CA 90015       NaN
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles       NaN
7        NULL                                             hello       NaN

### `ignore`

In [8]:
clean_pe_cui(df, "cui", errors="ignore")

          cui                                           address   cui_clean
0    10117410                                     123 Pine Ave.    10117410
1  10117410-3                                           main st  10117410-3
2  7542011030                      1234 west main heights 57033  7542011030
3  7552A10004                    apt 1 789 s maple rd manhattan  7552A10004
4  8019010008                robie house, 789 north main street  8019010008
5       hello         1111 S Figueroa St, Los Angeles, CA 90015       hello
6         NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7        NULL                                             hello         NaN

## 4. `validate_pe_cui()`

`validate_pe_cui()` returns `True` when the input is a valid CUI. Otherwise it returns `False`.

The input of `validate_pe_cui()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_pe_cui()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_pe_cui()` returns the validation result for the whole DataFrame.

In [9]:
from dataprep.clean import validate_pe_cui
print(validate_pe_cui('10117410'))
print(validate_pe_cui('10117410-3'))
print(validate_pe_cui('7542011030'))
print(validate_pe_cui('7552A10004'))
print(validate_pe_cui('8019010008'))
print(validate_pe_cui("hello"))
print(validate_pe_cui(np.nan))
print(validate_pe_cui("NULL"))

True
False
False
False
False
False
False
False

### Series

In [10]:
validate_pe_cui(df["cui"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: cui, dtype: bool

### DataFrame + Specify Column

In [11]:
validate_pe_cui(df, column="cui")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: cui, dtype: bool

### Only DataFrame

In [12]:
validate_pe_cui(df)

     cui  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False