.. _stnr_userguide:

German Tax Numbers
==================

Introduction
------------

The function :func:`clean_de_stnr() <dataprep.clean.clean_de_stnr.clean_de_stnr>` cleans a column containing German tax numbers (STNR) strings, and standardizes them in a given format. The function :func:`validate_de_stnr() <dataprep.clean.clean_de_stnr.validate_de_stnr>` validates either a single STNR strings, a column of STNR strings or a DataFrame of STNR strings, returning `True` if the value is valid, and `False` otherwise.

STNR strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "18181508155"
* `standard`: STNR strings with proper whitespace in the proper places, like "181/815/0815 5"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_de_stnr()` and `validate_de_stnr()`.

### An example dataset containing STNR strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "stnr": [
            ' 181/815/0815 5',
            "136695978",
            "201/123/12340",
            "4151081508156",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              stnr                                           address
0   181/815/0815 5                                     123 Pine Ave.
1        136695978                                           main st
2    201/123/12340                      1234 west main heights 57033
3    4151081508156                    apt 1 789 s maple rd manhattan
4            hello                robie house, 789 north main street
5              NaN  (staples center) 1111 S Figueroa St, Los Angeles
6             NULL                                             hello

## 1. Default `clean_de_stnr`

By default, `clean_de_stnr` will clean stnr strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_de_stnr
clean_de_stnr(df, column = "stnr")

,stnr,address,stnr_clean
0,181/815/0815 5,123 Pine Ave.,181/815/08155
1,136695978,main st,NaN
2,201/123/12340,1234 west main heights 57033,201/123/12340
3,4151081508156,apt 1 789 s maple rd manhattan,4151081508156
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_de_stnr(df, column = "stnr", output_format="standard")

,stnr,address,stnr_clean
0,181/815/0815 5,123 Pine Ave.,181/815/08155
1,136695978,main st,NaN
2,201/123/12340,1234 west main heights 57033,201/123/12340
3,4151081508156,apt 1 789 s maple rd manhattan,4151081508156
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_de_stnr(df, column = "stnr", output_format="compact")

,stnr,address,stnr_clean
0,181/815/0815 5,123 Pine Ave.,18181508155
1,136695978,main st,NaN
2,201/123/12340,1234 west main heights 57033,20112312340
3,4151081508156,apt 1 789 s maple rd manhattan,4151081508156
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned STNR strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_de_stnr(df, column="stnr", inplace=True)

      stnr_clean                                           address
0  181/815/08155                                     123 Pine Ave.
1            NaN                                           main st
2  201/123/12340                      1234 west main heights 57033
3  4151081508156                    apt 1 789 s maple rd manhattan
4            NaN                robie house, 789 north main street
5            NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_de_stnr(df, "stnr", errors="coerce")

,stnr,address,stnr_clean
0,181/815/0815 5,123 Pine Ave.,181/815/08155
1,136695978,main st,NaN
2,201/123/12340,1234 west main heights 57033,201/123/12340
3,4151081508156,apt 1 789 s maple rd manhattan,4151081508156
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_de_stnr(df, "stnr", errors="ignore")

,stnr,address,stnr_clean
0,181/815/0815 5,123 Pine Ave.,181/815/08155
1,136695978,main st,136695978
2,201/123/12340,1234 west main heights 57033,201/123/12340
3,4151081508156,apt 1 789 s maple rd manhattan,4151081508156
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_de_stnr()`

`validate_de_stnr()` returns `True` when the input is a valid STNR. Otherwise it returns `False`.

The input of `validate_de_stnr()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_de_stnr()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_de_stnr()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_de_stnr
print(validate_de_stnr("181/815/0815 5"))
print(validate_de_stnr("136695978"))
print(validate_de_stnr("201/123/12340"))
print(validate_de_stnr("4151081508156"))
print(validate_de_stnr("hello"))
print(validate_de_stnr(np.nan))
print(validate_de_stnr("NULL"))

True
False
True
True
False
False
False

### Series

In [9]:
validate_de_stnr(df["stnr"])

0     True
1    False
2     True
3     True
4    False
5    False
6    False
Name: stnr, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_de_stnr(df, column="stnr")

0     True
1    False
2     True
3     True
4    False
5    False
6    False
Name: stnr, dtype: bool

### Only DataFrame

In [11]:
validate_de_stnr(df)

    stnr  address
0   True    False
1  False    False
2   True    False
3   True    False
4  False    False
5  False    False
6  False    False

## `region` parameter

Specifically, `region` can be supplied to `validate_de_stnr` to verify that the number is assigned in that region.

In [12]:
validate_de_stnr(df["stnr"], region='Sachsen')

0    False
1    False
2     True
3    False
4    False
5    False
6    False
Name: stnr, dtype: bool

In [13]:
validate_de_stnr(df["stnr"], region='Thuringen')

0     True
1    False
2    False
3     True
4    False
5    False
6    False
Name: stnr, dtype: bool