# Latvian PVN (VAT) Numbers

## Introduction

The function `clean_lv_pvn()` cleans a column containing Latvian PVN (VAT) number (PVN) strings, and standardizes them in a given format. The function `validate_lv_pvn()` validates either a single PVN strings, a column of PVN strings or a DataFrame of PVN strings, returning `True` if the value is valid, and `False` otherwise.

PVN strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "16117519997"
* `standard`: PVN strings with proper whitespace in the proper places. Note that in the case of PVN, the compact format is the same as the standard one.
* `birthdate`: split the date parts from the number and return the birth date, like "1975-11-16".

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_lv_pvn()` and `validate_lv_pvn()`.

### An example dataset containing PVN strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "pvn": [
            '161175-19997',
            '40003521601',
            '7542011030',
            '7552A10004',
            '8019010008',
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

            pvn                                           address
0  161175-19997                                     123 Pine Ave.
1   40003521601                                           main st
2    7542011030                      1234 west main heights 57033
3    7552A10004                    apt 1 789 s maple rd manhattan
4    8019010008                robie house, 789 north main street
5         hello         1111 S Figueroa St, Los Angeles, CA 90015
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NULL                                             hello

## 1. Default `clean_lv_pvn`

By default, `clean_lv_pvn` will clean pvn strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_lv_pvn
clean_lv_pvn(df, column = "pvn")

            pvn                                           address    pvn_clean
0  161175-19997                                     123 Pine Ave.  16117519997
1   40003521601                                           main st          NaN
2    7542011030                      1234 west main heights 57033          NaN
3    7552A10004                    apt 1 789 s maple rd manhattan          NaN
4    8019010008                robie house, 789 north main street          NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015          NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles          NaN
7          NULL                                             hello          NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_lv_pvn(df, column = "pvn", output_format="standard")

            pvn                                           address    pvn_clean
0  161175-19997                                     123 Pine Ave.  16117519997
1   40003521601                                           main st          NaN
2    7542011030                      1234 west main heights 57033          NaN
3    7552A10004                    apt 1 789 s maple rd manhattan          NaN
4    8019010008                robie house, 789 north main street          NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015          NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles          NaN
7          NULL                                             hello          NaN

### `compact`

In [4]:
clean_lv_pvn(df, column = "pvn", output_format="compact")

            pvn                                           address    pvn_clean
0  161175-19997                                     123 Pine Ave.  16117519997
1   40003521601                                           main st          NaN
2    7542011030                      1234 west main heights 57033          NaN
3    7552A10004                    apt 1 789 s maple rd manhattan          NaN
4    8019010008                robie house, 789 north main street          NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015          NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles          NaN
7          NULL                                             hello          NaN

### `birthdate`

In [5]:
clean_lv_pvn(df, column = "pvn", output_format="birthdate")

            pvn                                           address   pvn_clean
0  161175-19997                                     123 Pine Ave.  1975-11-16
1   40003521601                                           main st         NaN
2    7542011030                      1234 west main heights 57033         NaN
3    7552A10004                    apt 1 789 s maple rd manhattan         NaN
4    8019010008                robie house, 789 north main street         NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015         NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7          NULL                                             hello         NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned PVN strings is added with a title in the format `"{original title}_clean"`.

In [6]:
clean_lv_pvn(df, column="pvn", inplace=True)

     pvn_clean                                           address
0  16117519997                                     123 Pine Ave.
1          NaN                                           main st
2          NaN                      1234 west main heights 57033
3          NaN                    apt 1 789 s maple rd manhattan
4          NaN                robie house, 789 north main street
5          NaN         1111 S Figueroa St, Los Angeles, CA 90015
6          NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [7]:
clean_lv_pvn(df, "pvn", errors="coerce")

            pvn                                           address    pvn_clean
0  161175-19997                                     123 Pine Ave.  16117519997
1   40003521601                                           main st          NaN
2    7542011030                      1234 west main heights 57033          NaN
3    7552A10004                    apt 1 789 s maple rd manhattan          NaN
4    8019010008                robie house, 789 north main street          NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015          NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles          NaN
7          NULL                                             hello          NaN

### `ignore`

In [8]:
clean_lv_pvn(df, "pvn", errors="ignore")

            pvn                                           address    pvn_clean
0  161175-19997                                     123 Pine Ave.  16117519997
1   40003521601                                           main st  40003521601
2    7542011030                      1234 west main heights 57033   7542011030
3    7552A10004                    apt 1 789 s maple rd manhattan   7552A10004
4    8019010008                robie house, 789 north main street   8019010008
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        hello
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles          NaN
7          NULL                                             hello          NaN

## 4. `validate_lv_pvn()`

`validate_lv_pvn()` returns `True` when the input is a valid PVN. Otherwise it returns `False`.

The input of `validate_lv_pvn()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_lv_pvn()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_lv_pvn()` returns the validation result for the whole DataFrame.

In [9]:
from dataprep.clean import validate_lv_pvn
print(validate_lv_pvn('161175-19997'))
print(validate_lv_pvn('40003521601'))
print(validate_lv_pvn('7542011030'))
print(validate_lv_pvn('7552A10004'))
print(validate_lv_pvn('8019010008'))
print(validate_lv_pvn("hello"))
print(validate_lv_pvn(np.nan))
print(validate_lv_pvn("NULL"))

True
False
False
False
False
False
False
False

### Series

In [10]:
validate_lv_pvn(df["pvn"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: pvn, dtype: bool

### DataFrame + Specify Column

In [11]:
validate_lv_pvn(df, column="pvn")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: pvn, dtype: bool

### Only DataFrame

In [12]:
validate_lv_pvn(df)

     pvn  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False