# Paraguay RUC Numbers

## Introduction

The function `clean_py_ruc()` cleans a column containing Paraguay RUC number (RUC) strings, and standardizes them in a given format. The function `validate_py_ruc()` validates either a single RUC strings, a column of RUC strings or a DataFrame of RUC strings, returning `True` if the value is valid, and `False` otherwise.

RUC strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "800000358"
* `standard`: RUC strings with proper whitespace in the proper places, like "80000035-8"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_py_ruc()` and `validate_py_ruc()`.

### An example dataset containing RUC strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "ruc": [
            "800000358",
            "80123456789",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

              ruc                                           address
0       800000358                                     123 Pine Ave.
1     80123456789                                           main st
2     51824753556                      1234 west main heights 57033
3  51 824 753 556                    apt 1 789 s maple rd manhattan
4           hello                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NULL                                             hello

## 1. Default `clean_py_ruc`

By default, `clean_py_ruc` will clean ruc strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_py_ruc
clean_py_ruc(df, column = "ruc")

,ruc,address,ruc_clean
0,800000358,123 Pine Ave.,80000035-8
1,80123456789,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_py_ruc(df, column = "ruc", output_format="standard")

,ruc,address,ruc_clean
0,800000358,123 Pine Ave.,80000035-8
1,80123456789,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_py_ruc(df, column = "ruc", output_format="compact")

              ruc                                           address  ruc_clean
0       800000358                                     123 Pine Ave.  800000358
1     80123456789                                           main st        NaN
2     51824753556                      1234 west main heights 57033        NaN
3  51 824 753 556                    apt 1 789 s maple rd manhattan        NaN
4           hello                robie house, 789 north main street        NaN
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
6            NULL                                             hello        NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned RUC strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_py_ruc(df, column="ruc", inplace=True)

    ruc_clean                                           address
0  80000035-8                                     123 Pine Ave.
1         NaN                                           main st
2         NaN                      1234 west main heights 57033
3         NaN                    apt 1 789 s maple rd manhattan
4         NaN                robie house, 789 north main street
5         NaN  (staples center) 1111 S Figueroa St, Los Angeles
6         NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_py_ruc(df, "ruc", errors="coerce")

,ruc,address,ruc_clean
0,800000358,123 Pine Ave.,80000035-8
1,80123456789,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_py_ruc(df, "ruc", errors="ignore")

,ruc,address,ruc_clean
0,800000358,123 Pine Ave.,80000035-8
1,80123456789,main st,80123456789
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_py_ruc()`

`validate_py_ruc()` returns `True` when the input is a valid RUC. Otherwise it returns `False`.

The input of `validate_py_ruc()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_py_ruc()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_py_ruc()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_py_ruc
print(validate_py_ruc("800000358"))
print(validate_py_ruc("80123456789"))
print(validate_py_ruc("51824753556"))
print(validate_py_ruc("51 824 753 556"))
print(validate_py_ruc("hello"))
print(validate_py_ruc(np.nan))
print(validate_py_ruc("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_py_ruc(df["ruc"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: ruc, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_py_ruc(df, column="ruc")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: ruc, dtype: bool

### Only DataFrame

In [11]:
validate_py_ruc(df)

     ruc  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False