# Spanish Fiscal Numbers

## Introduction

The function `clean_es_cif()` cleans a column containing Spanish fiscal numbers (CIF) strings, and standardizes them in a given format. The function `validate_es_cif()` validates either a single CIF strings, a column of CIF strings or a DataFrame of CIF strings, returning `True` if the value is valid, and `False` otherwise.

CIF strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "A13585625"
* `standard`: CIF strings with proper whitespace in the proper places. Note that in the case of CIF, the compact format is the same as the standard one.

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_es_cif()` and `validate_es_cif()`.

### An example dataset containing CIF strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "cif": [
            'A13 585 625',
            'M-1234567-L',
            'BE 428759497',
            'BE431150351',
            "002 724 334",
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

            cif                                           address
0   A13 585 625                                     123 Pine Ave.
1   M-1234567-L                                           main st
2  BE 428759497                      1234 west main heights 57033
3   BE431150351                    apt 1 789 s maple rd manhattan
4   002 724 334                robie house, 789 north main street
5         hello         1111 S Figueroa St, Los Angeles, CA 90015
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NULL                                             hello

## 1. Default `clean_es_cif`

By default, `clean_es_cif` will clean cif strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_es_cif
clean_es_cif(df, column = "cif")

            cif                                           address  cif_clean
0   A13 585 625                                     123 Pine Ave.  A13585625
1   M-1234567-L                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_es_cif(df, column = "cif", output_format="standard")

            cif                                           address  cif_clean
0   A13 585 625                                     123 Pine Ave.  A13585625
1   M-1234567-L                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `compact`

In [4]:
clean_es_cif(df, column = "cif", output_format="compact")

            cif                                           address  cif_clean
0   A13 585 625                                     123 Pine Ave.  A13585625
1   M-1234567-L                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 3. `split` parameter

The `split` parameter adds individual columns containing the cleaned 9-digits CIF values to the given DataFrame.

In [5]:
clean_es_cif(df, column="cif", split=True)

  0%|          | 0/8 [00:00<?, ?it/s]

,cif,address,cif_clean,type_code,province_code,within_code,check_digit
0,A13 585 625,123 Pine Ave.,A13585625,A,13,58562,5
1,M-1234567-L,main st,NaN,NaN,NaN,NaN,NaN
2,BE 428759497,1234 west main heights 57033,NaN,NaN,NaN,NaN,NaN
3,BE431150351,apt 1 789 s maple rd manhattan,NaN,NaN,NaN,NaN,NaN
4,002 724 334,"robie house, 789 north main street",NaN,NaN,NaN,NaN,NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN,NaN,NaN,NaN,NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN,NaN,NaN,NaN,NaN
7,NULL,hello,NaN,NaN,NaN,NaN,NaN

## 4. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned CIF strings is added with a title in the format `"{original title}_clean"`.

In [6]:
clean_es_cif(df, column="cif", inplace=True)

   cif_clean                                           address
0  A13585625                                     123 Pine Ave.
1        NaN                                           main st
2        NaN                      1234 west main heights 57033
3        NaN                    apt 1 789 s maple rd manhattan
4        NaN                robie house, 789 north main street
5        NaN         1111 S Figueroa St, Los Angeles, CA 90015
6        NaN  (staples center) 1111 S Figueroa St, Los Angeles
7        NaN                                             hello

## 5. `errors` parameter

### `coerce` (default)

In [7]:
clean_es_cif(df, "cif", errors="coerce")

            cif                                           address  cif_clean
0   A13 585 625                                     123 Pine Ave.  A13585625
1   M-1234567-L                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `ignore`

In [8]:
clean_es_cif(df, "cif", errors="ignore")

,cif,address,cif_clean
0,A13 585 625,123 Pine Ave.,A13585625
1,M-1234567-L,main st,M-1234567-L
2,BE 428759497,1234 west main heights 57033,BE 428759497
3,BE431150351,apt 1 789 s maple rd manhattan,BE431150351
4,002 724 334,"robie house, 789 north main street",002 724 334
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 6. `validate_es_cif()`

`validate_es_cif()` returns `True` when the input is a valid CIF. Otherwise it returns `False`.

The input of `validate_es_cif()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_es_cif()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_es_cif()` returns the validation result for the whole DataFrame.

In [9]:
from dataprep.clean import validate_es_cif
print(validate_es_cif("A13 585 625"))
print(validate_es_cif("M-1234567-L"))
print(validate_es_cif('BE 428759497'))
print(validate_es_cif('BE431150351'))
print(validate_es_cif("004085616"))
print(validate_es_cif("hello"))
print(validate_es_cif(np.nan))
print(validate_es_cif("NULL"))

True
False
False
False
False
False
False
False

### Series

In [10]:
validate_es_cif(df["cif"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: cif, dtype: bool

### DataFrame + Specify Column

In [11]:
validate_es_cif(df, column="cif")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: cif, dtype: bool

### Only DataFrame

In [12]:
validate_es_cif(df)

     cif  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False