.. _cnp_userguide:

Romanian Numerical Personal Codes
=================================

Introduction
------------

The function :func:`clean_ro_cnp() <dataprep.clean.clean_ro_cnp.clean_ro_cnp>` cleans a column containing Romanian Numerical Personal Code (CNP) strings, and standardizes them in a given format. The function :func:`validate_ro_cnp() <dataprep.clean.clean_ro_cnp.validate_ro_cnp>` validates either a single CNP strings, a column of CNP strings or a DataFrame of CNP strings, returning `True` if the value is valid, and `False` otherwise.

CNP strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "1630615123457"
* `standard`: CNP strings with proper whitespace in the proper places. Note that in the case of CNP, the compact format is the same as the standard one.
* `birthdate`: split the date parts from the number and return the birth date, like "1875-03-16".

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_ro_cnp()` and `validate_ro_cnp()`.

### An example dataset containing CNP strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "cnp": [
            "1630615123457",
            "0800101221142",
            '7542011030',
            '7552A10004', 
            '8019010008',
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

             cnp                                           address
0  1630615123457                                     123 Pine Ave.
1  0800101221142                                           main st
2     7542011030                      1234 west main heights 57033
3     7552A10004                    apt 1 789 s maple rd manhattan
4     8019010008                robie house, 789 north main street
5          hello         1111 S Figueroa St, Los Angeles, CA 90015
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles
7           NULL                                             hello

## 1. Default `clean_ro_cnp`

By default, `clean_ro_cnp` will clean cnp strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_ro_cnp
clean_ro_cnp(df, column = "cnp")

,cnp,address,cnp_clean
0,1630615123457,123 Pine Ave.,1630615123457
1,0800101221142,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_ro_cnp(df, column = "cnp", output_format="standard")

,cnp,address,cnp_clean
0,1630615123457,123 Pine Ave.,1630615123457
1,0800101221142,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `compact`

In [4]:
clean_ro_cnp(df, column = "cnp", output_format="compact")

,cnp,address,cnp_clean
0,1630615123457,123 Pine Ave.,1630615123457
1,0800101221142,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `birthdate`

In [5]:
clean_ro_cnp(df, column = "cnp", output_format="birthdate")

             cnp                                           address   cnp_clean
0  1630615123457                                     123 Pine Ave.  1963-06-15
1  0800101221142                                           main st         NaN
2     7542011030                      1234 west main heights 57033         NaN
3     7552A10004                    apt 1 789 s maple rd manhattan         NaN
4     8019010008                robie house, 789 north main street         NaN
5          hello         1111 S Figueroa St, Los Angeles, CA 90015         NaN
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles         NaN
7           NULL                                             hello         NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned CNP strings is added with a title in the format `"{original title}_clean"`.

In [6]:
clean_ro_cnp(df, column="cnp", inplace=True)

       cnp_clean                                           address
0  1630615123457                                     123 Pine Ave.
1            NaN                                           main st
2            NaN                      1234 west main heights 57033
3            NaN                    apt 1 789 s maple rd manhattan
4            NaN                robie house, 789 north main street
5            NaN         1111 S Figueroa St, Los Angeles, CA 90015
6            NaN  (staples center) 1111 S Figueroa St, Los Angeles
7            NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [7]:
clean_ro_cnp(df, "cnp", errors="coerce")

,cnp,address,cnp_clean
0,1630615123457,123 Pine Ave.,1630615123457
1,0800101221142,main st,NaN
2,7542011030,1234 west main heights 57033,NaN
3,7552A10004,apt 1 789 s maple rd manhattan,NaN
4,8019010008,"robie house, 789 north main street",NaN
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",NaN
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

### `ignore`

In [8]:
clean_ro_cnp(df, "cnp", errors="ignore")

,cnp,address,cnp_clean
0,1630615123457,123 Pine Ave.,1630615123457
1,0800101221142,main st,0800101221142
2,7542011030,1234 west main heights 57033,7542011030
3,7552A10004,apt 1 789 s maple rd manhattan,7552A10004
4,8019010008,"robie house, 789 north main street",8019010008
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_ro_cnp()`

`validate_ro_cnp()` returns `True` when the input is a valid CNP. Otherwise it returns `False`.

The input of `validate_ro_cnp()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_ro_cnp()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_ro_cnp()` returns the validation result for the whole DataFrame.

In [9]:
from dataprep.clean import validate_ro_cnp
print(validate_ro_cnp('1630615123457'))
print(validate_ro_cnp('0800101221142'))
print(validate_ro_cnp('7542011030'))
print(validate_ro_cnp('7552A10004'))
print(validate_ro_cnp('8019010008'))
print(validate_ro_cnp("hello"))
print(validate_ro_cnp(np.nan))
print(validate_ro_cnp("NULL"))

True
False
False
False
False
False
False
False

### Series

In [10]:
validate_ro_cnp(df["cnp"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: cnp, dtype: bool

### DataFrame + Specify Column

In [11]:
validate_ro_cnp(df, column="cnp")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: cnp, dtype: bool

### Only DataFrame

In [12]:
validate_ro_cnp(df)

     cnp  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False