.. _cedula_userguide:

Cedula Strings
============

Introduction
------------

The function :func:`clean_do_cedula() <dataprep.clean.clean_do_cedula.clean_do_cedula>` cleans a column containing Dominican Republic national identifier (Cedula) strings, and standardizes them in a given format. The function :func:`validate_do_cedula() <dataprep.clean.clean_do_cedula.validate_do_cedula>` validates either a single Cedula strings, a column of Cedula strings or a DataFrame of Cedula strings, returning `True` if the value is valid, and `False` otherwise.

Cedula strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "22400022111"
* `standard`: Cedula strings with proper whitespace in the proper places, like "224-0002211-1"

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_do_cedula()` and `validate_do_cedula()`.

### An example dataset containing Cedula strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "cedula": [
            "22400022111",
            "0011391820A",
            "51824753556",
            "51 824 753 556",
            "hello",
            np.nan,
            "NULL"
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

           cedula                                           address
0     22400022111                                     123 Pine Ave.
1     0011391820A                                           main st
2     51824753556                      1234 west main heights 57033
3  51 824 753 556                    apt 1 789 s maple rd manhattan
4           hello                robie house, 789 north main street
5             NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NULL                                             hello

## 1. Default `clean_do_cedula`

By default, `clean_do_cedula` will clean cedula strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_do_cedula
clean_do_cedula(df, column = "cedula")

,cedula,address,cedula_clean
0,22400022111,123 Pine Ave.,224-0002211-1
1,0011391820A,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_do_cedula(df, column = "cedula", output_format="standard")

,cedula,address,cedula_clean
0,22400022111,123 Pine Ave.,224-0002211-1
1,0011391820A,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `compact`

In [4]:
clean_do_cedula(df, column = "cedula", output_format="compact")

,cedula,address,cedula_clean
0,22400022111,123 Pine Ave.,22400022111
1,0011391820A,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned Cedula strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_do_cedula(df, column="cedula", inplace=True)

    cedula_clean                                           address
0  224-0002211-1                                     123 Pine Ave.
1            NaN                                           main st
2            NaN                      1234 west main heights 57033
3            NaN                    apt 1 789 s maple rd manhattan
4            NaN                robie house, 789 north main street
5            NaN  (staples center) 1111 S Figueroa St, Los Angeles
6            NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_do_cedula(df, "cedula", errors="coerce")

,cedula,address,cedula_clean
0,22400022111,123 Pine Ave.,224-0002211-1
1,0011391820A,main st,NaN
2,51824753556,1234 west main heights 57033,NaN
3,51 824 753 556,apt 1 789 s maple rd manhattan,NaN
4,hello,"robie house, 789 north main street",NaN
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

### `ignore`

In [7]:
clean_do_cedula(df, "cedula", errors="ignore")

,cedula,address,cedula_clean
0,22400022111,123 Pine Ave.,224-0002211-1
1,0011391820A,main st,0011391820A
2,51824753556,1234 west main heights 57033,51824753556
3,51 824 753 556,apt 1 789 s maple rd manhattan,51 824 753 556
4,hello,"robie house, 789 north main street",hello
5,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
6,NULL,hello,NaN

## 4. `validate_do_cedula()`

`validate_do_cedula()` returns `True` when the input is a valid Cedula. Otherwise it returns `False`.

The input of `validate_do_cedula()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_do_cedula()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_do_cedula()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_do_cedula
print(validate_do_cedula("22400022111"))
print(validate_do_cedula("0011391820A"))
print(validate_do_cedula("51824753556"))
print(validate_do_cedula("51 824 753 556"))
print(validate_do_cedula("hello"))
print(validate_do_cedula(np.nan))
print(validate_do_cedula("NULL"))

True
False
False
False
False
False
False

### Series

In [9]:
validate_do_cedula(df["cedula"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cedula, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_do_cedula(df, column="cedula")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: cedula, dtype: bool

### Only DataFrame

In [11]:
validate_do_cedula(df)

   cedula  address
0    True    False
1   False    False
2   False    False
3   False    False
4   False    False
5   False    False
6   False    False