.. _pps_userguide:

PPS Strings
============

Introduction
------------

The function :func:`clean_ie_pps() <dataprep.clean.clean_ie_pps.clean_ie_pps>` cleans a column containing Irish personal number (PPS) strings, and standardizes them in a given format. The function :func:`validate_ie_pps() <dataprep.clean.clean_ie_pps.validate_ie_pps>` validates either a single PPS strings, a column of PPS strings or a DataFrame of PPS strings, returning `True` if the value is valid, and `False` otherwise.

PPS strings can be converted to the following formats via the `output_format` parameter:

* `compact`: only number strings without any seperators or whitespace, like "6433435OA"
* `standard`: PPS strings with proper whitespace in the proper places. Note that in the case of PPS, the compact format is the same as the standard one.

Invalid parsing is handled with the `errors` parameter:

* `coerce` (default): invalid parsing will be set to NaN
* `ignore`: invalid parsing will return the input
* `raise`: invalid parsing will raise an exception

The following sections demonstrate the functionality of `clean_ie_pps()` and `validate_ie_pps()`.

### An example dataset containing PPS strings

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {
        "pps": [
            '6433435OA',
            '6433435VH',
            'BE 428759497',
            'BE431150351',
            "002 724 334",
            "hello",
            np.nan,
            "NULL",
        ], 
        "address": [
            "123 Pine Ave.",
            "main st",
            "1234 west main heights 57033",
            "apt 1 789 s maple rd manhattan",
            "robie house, 789 north main street",
            "1111 S Figueroa St, Los Angeles, CA 90015",
            "(staples center) 1111 S Figueroa St, Los Angeles",
            "hello",
        ]
    }
)
df

            pps                                           address
0     6433435OA                                     123 Pine Ave.
1     6433435VH                                           main st
2  BE 428759497                      1234 west main heights 57033
3   BE431150351                    apt 1 789 s maple rd manhattan
4   002 724 334                robie house, 789 north main street
5         hello         1111 S Figueroa St, Los Angeles, CA 90015
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles
7          NULL                                             hello

## 1. Default `clean_ie_pps`

By default, `clean_ie_pps` will clean pps strings and output them in the standard format with proper separators.

In [2]:
from dataprep.clean import clean_ie_pps
clean_ie_pps(df, column = "pps")

            pps                                           address  pps_clean
0     6433435OA                                     123 Pine Ave.  6433435OA
1     6433435VH                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 2. Output formats

This section demonstrates the output parameter.

### `standard` (default)

In [3]:
clean_ie_pps(df, column = "pps", output_format="standard")

            pps                                           address  pps_clean
0     6433435OA                                     123 Pine Ave.  6433435OA
1     6433435VH                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `compact`

In [4]:
clean_ie_pps(df, column = "pps", output_format="compact")

            pps                                           address  pps_clean
0     6433435OA                                     123 Pine Ave.  6433435OA
1     6433435VH                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

## 3. `inplace` parameter

This deletes the given column from the returned DataFrame. 
A new column containing cleaned PPS strings is added with a title in the format `"{original title}_clean"`.

In [5]:
clean_ie_pps(df, column="pps", inplace=True)

   pps_clean                                           address
0  6433435OA                                     123 Pine Ave.
1        NaN                                           main st
2        NaN                      1234 west main heights 57033
3        NaN                    apt 1 789 s maple rd manhattan
4        NaN                robie house, 789 north main street
5        NaN         1111 S Figueroa St, Los Angeles, CA 90015
6        NaN  (staples center) 1111 S Figueroa St, Los Angeles
7        NaN                                             hello

## 4. `errors` parameter

### `coerce` (default)

In [6]:
clean_ie_pps(df, "pps", errors="coerce")

            pps                                           address  pps_clean
0     6433435OA                                     123 Pine Ave.  6433435OA
1     6433435VH                                           main st        NaN
2  BE 428759497                      1234 west main heights 57033        NaN
3   BE431150351                    apt 1 789 s maple rd manhattan        NaN
4   002 724 334                robie house, 789 north main street        NaN
5         hello         1111 S Figueroa St, Los Angeles, CA 90015        NaN
6           NaN  (staples center) 1111 S Figueroa St, Los Angeles        NaN
7          NULL                                             hello        NaN

### `ignore`

In [7]:
clean_ie_pps(df, "pps", errors="ignore")

,pps,address,pps_clean
0,6433435OA,123 Pine Ave.,6433435OA
1,6433435VH,main st,6433435VH
2,BE 428759497,1234 west main heights 57033,BE 428759497
3,BE431150351,apt 1 789 s maple rd manhattan,BE431150351
4,002 724 334,"robie house, 789 north main street",002 724 334
5,hello,"1111 S Figueroa St, Los Angeles, CA 90015",hello
6,NaN,"(staples center) 1111 S Figueroa St, Los Angeles",NaN
7,NULL,hello,NaN

## 4. `validate_ie_pps()`

`validate_ie_pps()` returns `True` when the input is a valid PPS. Otherwise it returns `False`.

The input of `validate_ie_pps()` can be a string, a Pandas DataSeries, a Dask DataSeries, a Pandas DataFrame and a dask DataFrame.

When the input is a string, a Pandas DataSeries or a Dask DataSeries, user doesn't need to specify a column name to be validated. 

When the input is a Pandas DataFrame or a dask DataFrame, user can both specify or not specify a column name to be validated. If user specify the column name, `validate_ie_pps()` only returns the validation result for the specified column. If user doesn't specify the column name, `validate_ie_pps()` returns the validation result for the whole DataFrame.

In [8]:
from dataprep.clean import validate_ie_pps
print(validate_ie_pps("6433435OA"))
print(validate_ie_pps("6433435VH"))
print(validate_ie_pps('BE 428759497'))
print(validate_ie_pps('BE431150351'))
print(validate_ie_pps("004085616"))
print(validate_ie_pps("hello"))
print(validate_ie_pps(np.nan))
print(validate_ie_pps("NULL"))

True
False
False
False
False
False
False
False

### Series

In [9]:
validate_ie_pps(df["pps"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: pps, dtype: bool

### DataFrame + Specify Column

In [10]:
validate_ie_pps(df, column="pps")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: pps, dtype: bool

### Only DataFrame

In [11]:
validate_ie_pps(df)

     pps  address
0   True    False
1  False    False
2  False    False
3  False    False
4  False    False
5  False    False
6  False    False
7  False    False